{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [] %}
{% set title_classes = [] %}
{% set content_classes = [] %}
{% set footer_classes = [] %}

{% set title_is_set = title|render|striptags|trim is not empty %}
{% set footer_is_set = footer|render|striptags|trim is not empty %}

{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    {% if title_is_set %}
      <header{{ title_attributes.addClass(title_classes) }}>
        {{- title -}}
      </header>
    {% endif %}
    {{ title_suffix }}

    <div{{ content_attributes.addClass(content_classes) }}>
      {% if content.field_logo_media_link_url|render %}
        <a href="{{ content.field_logo_media_link_url[0]['#url'] }}">
          {{ content.field_media_image_logo }}
        </a>
      {% else %}
        {{ content.media_image_logo }}
      {% endif %}
    </div>

    {% if footer_is_set %}
      <footer{{ footer_attributes.addClass(footer_classes) }}>
        {{- footer -}}
      </footer>
    {% endif %}

  </section>
{% endblock paragraph %}
