{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [] %}
{% set content_classes = [] %}

{% block paragraph %}
  {{ title_prefix }}
  {{ title_suffix }}

  {% if content.group_hero_heading_media_group|render %}
    {% if content.group_hero_heading_media_group.field_hero_heading_link|render %}
      <a href="{{ content.group_hero_heading_media_group.field_hero_heading_link.0['#url'] }}" class="c-hero__image-link">
        {{ content.group_hero_heading_media_group|without('field_hero_heading_link') }}
        <div class="c-hero__image-text">
          {{- content.field_hero_heading_text|render|striptags -}}
        </div>
      </a>
    {% else %}
      {{ content }}
    {% endif %}
  {% else %}
    <div class="c-hero__fragment-text" aria-hidden="true">
      {{ content }}
    </div>
  {% endif %}
{% endblock paragraph %}
