{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [] %}
{% set content_classes = [
  'c-featured-work__slide',
] %}

{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}

    <div{{ content_attributes.addClass(content_classes) }}>
      <div class="c-featured-work__slide-overlay"></div>
      <div class="c-featured-work__slide-inner">
        <div class="c-featured-work__slide-background">
          {{ content.field_case_study_background }}
        </div>
        <div class="c-featured-work__slide-content">
          <div class="c-featured-work__slide-logo">
            {{ content.field_case_study_logo }}
          </div>
          <div class="c-featured-work__slide-body">
            {{ content.field_case_study_body }}
          </div>
          {% if content.field_case_study_cta|render %}
            <div class="c-featured-work__slide-cta">
              {% include '@components/button/button.twig' with 
                {
                  type: 'primary-white',
                  label: content.field_case_study_cta[0]['#title'],
                  link: content.field_case_study_cta[0]['#url'],
                }
              %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

  </section>
{% endblock paragraph %}
