{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% block paragraph %}
  <section{{ attributes }}>
    {{ title_prefix }}
    {{ title_suffix }}

    <div{{ content_attributes }}>
      {% if content.field_text_fragment|render %}
        <p class="c-promo__text"{% if highlight %} data-reveal="circle-reveal"{% endif %}>
          {% if highlight %}
            {% set text_value = content.field_text_fragment[0]['#context']['value'] %}
            {% set words = text_value|split(' ') %}
            {% for word in words %}
              {% if word == highlight %}
                <span class="highlighted-text highlighted-text--large">
                  {{- word -}}
                  {{ source('@svgs/highlight-circle-large.svg', { ignore_missing: true }) }}
                </span>
              {% else %}
                {{- word -}}
              {% endif %}
            {% endfor %}
          {% else %}
            {{- content.field_text_fragment[0]['#context']['value'] -}}
          {% endif %}
        </p>
      {% elseif content.field_image_fragment|render %}
        {{ content.field_image_fragment}}
      {% endif %}
    </div>

  </section>
{% endblock paragraph %}
