{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'swiper-slide',
] %}
{% set title_classes = [] %}
{% set content_classes = [] %}
{% set footer_classes = [] %}

{% set title_is_set = title|render|striptags|trim is not empty %}
{% set footer_is_set = footer|render|striptags|trim is not empty %}

{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    {% if title_is_set %}
      <header{{ title_attributes.addClass(title_classes) }}>
        {{- title -}}
      </header>
    {% endif %}
    {{ title_suffix }}

    <div{{ content_attributes.addClass(content_classes) }}>
      <a href="{{ content.field_link[0]["#url"] }}" class="c-resources__card">
        {% if content.field_link|render %}
        <div class="c-resources__card-title">
          <span>{{ content.field_link[0]["#title"] }}</span>
        </div>
        {% endif %}
        <div class="c-resources__card-image">
          {{ content.field_image[0] }}
        </div>
        <div class="c-resources__card-hover-images">
          {{ content.field_image[1] }}
          {{ content.field_image[2] }}
        </div>
      </a>
    </div>

    {% if footer_is_set %}
      <footer{{ footer_attributes.addClass(footer_classes) }}>
        {{- footer -}}
      </footer>
    {% endif %}

  </section>
{% endblock paragraph %}
