@use '../settings/variables' as *;
@use '../utilities/mixins' as *;

.block-system-breadcrumb-block {
  background: $c-navy-blue;

  nav {
    max-width: map-get($breakpoints, 'xl');
    margin: 0 auto;
  }

  a {
    color: $c-white;
  }

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 10px 20px;
    background: $c-dark-blue;
    margin-right: 0px;
    position: relative;

    // Triangles.
    &:after {
      border-color: transparent transparent transparent $c-dark-blue;
      border-style: solid;
      border-width: 1.1em 0 1.1em 4px;
      content: '';
      display: block;
      position: absolute;
      background-image: none;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
      right: -4px;
      z-index: 1;
    }
    &:before {
      border-color: transparent transparent transparent $c-navy-blue;
      border-style: solid;
      border-width: 1.1em 0 1.1em 4px;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &:hover {
      background: $c-light-blue;
      &:after  {
        border-color: transparent transparent transparent $c-light-blue;
      }
    }
  }
}
