@use '../helpers' as *;
@use '../utilities/buttons' as *;

.btn {
  @include button;
}

// Primary buttons
.btn--primary-blue {
  @include primary-button(
    $c-light-navy-blue,
    $c-white,
    $c-dark-navy,
    $c-light-navy-blue
  );
  // background: transparent;
}

// Primary buttons
.btn--primary-blue-alt {
  @include primary-button(
    $c-light-navy-blue,
    $c-white,
    $c-light-blue,
    $c-light-navy-blue
  );
  // background: transparent;
}

.btn--primary-light {
  @include primary-button(
    rgba($c-white, 0.25),
    $c-white,
    $c-white,
    rgba($c-white, 0.3)
  );
}

.btn--primary-white {
  @include primary-button($c-white, $c-navy-blue, $c-white, transparent);

  &.btn--icon {
    gap: 15px;
  }
}

.btn--outline-blue {
  @include outline-button($c-light-navy-blue, $c-light-navy-blue, $c-white);
}

.btn--outline-white {
  @include outline-button($c-white, $c-white, $c-navy-blue);
}

// Outline rounded button (Special overrides)
.btn--outline-rounded {
  @include outline-button($c-white, $c-white, $c-navy-blue);
  padding: 11px 20px;
  border-radius: 60px;

  .btn__text {
    @include text-style-nav-primary-link;
  }

  // Icon version variation
  &.btn--icon {
    gap: 8px;
  }

  &:hover::before,
  &:focus-visible::before {
    transform: scaleX(1);
  }
}

// Text button
.btn--text {
  @include underline-reverse($spacing: 6px);
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  color: $c-navy-blue;
  border-radius: 0;
}

// Button Text
.btn .btn__text {
  position: relative;
  z-index: 9;
}

// Button Icon
.btn .btn__icon {
  position: relative;
  z-index: 9;
  display: inline-flex;
}
