@use '../settings/variables' as *;
@use '../utilities/mixins' as *;

[data-reveal='slide-up'] {
  @include data-reveal(50%, 0);
  // opacity: 0;
  // visibility: hidden;
  will-change: transform, opacity;
  // transform: translateY(25%) skewY(4deg);
  // transition: transform 0.6s $t-cubic-easing-reveal,
  // opacity 0.6s $t-cubic-easing-reveal, visibility 0.6s $t-cubic-easing-reveal;
}

[data-reveal='fade-in'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s $t-cubic-easing-reveal,
    visibility 0.6s $t-cubic-easing-reveal;
  will-change: opacity, visibility;
}

.js-revealed[data-reveal='slide-up'] {
  transform: translateY(0) skewY(0);
  visibility: visible;
  opacity: 1;
}

.js-revealed[data-reveal='fade-in'] {
  visibility: visible;
  opacity: 1;
}

// Generate delay data attributes
@for $i from 1 through 20 {
  [data-reveal-delay="#{$i * 50}"] {
    transition-delay: $i * 0.05s;
  }
}
