@use '../settings/variables' as *;

.g-elements__cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.g-elements__cursor-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: $c-white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.34, 0.615, 0.35, 0.9);
}

.g-elements__cursor-dot.active {
  transform: scale(1);
  opacity: 1;
}

.g-elements__cursor-icon svg {
  color: $c-black;
}
