// Initial dual color global element styling
.swap__inner {
  height: 100%;
}

// displayed by JS whenever dark elements are present on page
.swap--light {
  display: none;
}

// Override transform/display on footer transition
/* stylelint-disable */
.bg-dark-blue {
  .swap--dark {
    display: none !important;
  }

  .swap--light {
    display: block !important;
    transform: translate(0, 0) !important;

    .swap__inner {
      transform: translate(0, 0) !important;
    }
  }
}
/* stylelint-enable */
