@use '../settings/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/typography' as *;

body {
  transition: background-color 0.5s ease;

  &.bg-dark-blue {
    background: $c-dark-navy;

    .g-elements__background {
      opacity: 0;
    }
  }
}

.page__inner {
  position: relative;
}

.section__bg-dark-blue {
  @include container($container-content);
  padding-top: 50px;
  padding-bottom: 50px;
  color: $c-white;
  background: $c-navy-blue;

  @include bp(lg) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .g-elements__background {
    opacity: 0;
  }
}

.layout {
  margin: 112px 0;

  @include bp(lg) {
    margin: 280px 0;
  }
}

.layout.layout--no-top-margin {
  margin: 0 0 112px;

  @include bp(lg) {
    margin: 0 0 280px;
  }
}

.layout.layout--no-bottom-margin {
  margin: 112px 0 0;

  @include bp(lg) {
    margin: 280px 0 0;
  }
}

.layout.layout--no-margin {
  margin: 0;

  @include bp(lg) {
    margin: 0;
  }
}

.layout-builder__section .layout {
  margin: 0 !important; /* stylelint-disable-line declaration-no-important */
}

// Highlight Text
.highlighted-text {
  position: relative;
}

.highlighted-text svg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 170%;
  height: 190%;
  transform: translateX(-48%) translateY(-39%);

  path {
    transition: stroke-dashoffset 1.9s cubic-bezier(0.65, 0, 0.32, 0.98);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-width: 1px;
  }
}

.highlighted-text--large svg {
  width: 130%;
  height: 130%;
  transform: translateX(-50%) translateY(-34%);

  path {
    stroke-dasharray: 1300;
    stroke-dashoffset: 1300;
    stroke-width: 2px;
  }
}

.js-revealed .highlighted-text svg path {
  &:first-child {
    stroke-dashoffset: 0;
  }

  &:last-child {
    stroke-dashoffset: 0;
    transition-delay: 0.5s;
  }
}

body:not(.page-node-type-component-page) #main-content {
  max-width: 90%;
  margin: 0 auto;
  background: $c-white;
  @include bp(xl2) {
    max-width: map-get($breakpoints, 'xl');
  }
}
.region-pre-content {
  margin-bottom: 10px;
}
body.page-node-type-component-page {
  .block-page-title-block {
    display: none;
  }
}
body.path-user,
body.path-frontpage {
  .block-system-breadcrumb-block {
    display: none;
  }
}
.block-page-title-block {
  color: $c-navy-blue;
  padding-top: 20px;

  h1 {
    @include heading-4;
  }
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
