@use '../settings/variables' as *;

// Ubuntu
@font-face {
  font-weight: $font-weight-thin;
  font-family: 'Ubuntu';
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/ubuntu/Ubuntu-Light.woff2') format('woff2');
}

@font-face {
  font-weight: $font-weight-regular;
  font-family: 'Ubuntu';
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/ubuntu/Ubuntu-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: $font-weight-medium;
  font-family: 'Ubuntu';
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/ubuntu/Ubuntu-Medium.woff2') format('woff2');
}

@font-face {
  font-weight: $font-weight-bold;
  font-family: 'Ubuntu';
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/ubuntu/Ubuntu-Bold.woff2') format('woff2');
}

// Ubuntu Mono
@font-face {
  font-weight: $font-weight-regular;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/ubuntu-mono/UbuntuMono-Regular.woff2') format('woff2');
}

@font-face {
  font-weight: $font-weight-bold;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/ubuntu-mono/UbuntuMono-Bold.woff2') format('woff2');
}
