@use '../settings/variables' as *;
@use '../utilities/mixins' as *;

// Keep form elements on the baseline grid.
input[type="checkbox"],
input[type="radio"] {
  margin: 0 0.5ex;
}

.form-item {
  margin-top: 0; // Reset core style.
}

// Regular spacing between elements.
.form-item,
.form-wrapper,
.form-item-title,
.text-format-wrapper {
  margin-bottom: 1em;
  // No spacing at the bottom of containers, like fieldsets.
  &:last-child {
    margin-bottom: 0;
  }
}
.filter-wrapper {
  margin-bottom: 0;
}
.text-format-wrapper .description {
  margin: 0;
}

.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0.25em 0;
}
.form-item {
  label {
    font-weight: bold;
    display: block;
    &.option {
      font-weight: normal;
    }
  }
  // Checkboxes and radio buttons.
  input + label {
    display: inline;
  }
}

.fieldset-description,
.description {
  color: $c-dark-gray;
  font-size: 0.8125em;
  margin: 10px 0;
}

.form-type-radio, .form-type-checkbox {
  // Refine core style, no margin for inline descriptions.
  span.description {
    margin-left: 0;
  }
}

input, textarea, select {
  margin: 0;
  // Limit width to inside parent containers.
  max-width: 100%;
}
select[multiple] {
  vertical-align: top;
}
fieldset legend {
  margin-bottom: 10px;
  font-weight: bold;
}

// Make text inputs a little more aesthetically pleasing.
.form-text,
.form-textarea,
.form-email,
.form-url,
.form-date,
.form-number {
  border-radius: 6px;
  border: 1px solid $c-gray-mid;
  padding: 5px;
}
.form-select {
  border-radius: 6px;
  border: 1px solid $c-gray-mid;
  padding: 7px;
}
// Adjust autocomplete icon to match new positions.
html.js input.form-autocomplete {
  background-position: 99% 6px;
  &.throbbing {
    background-position: 99% -14px;
  }
}
#autocomplete + .form-autocomplete {
  // Position above #autocomplete shadow.
  position: relative;
  z-index: 100;
}
.ui-autocomplete .ui-menu-item-wrapper {
  display: block;
}

// link button (green button)
a.link-button,
input[type="submit"],
form button {
  @include large-button;
  display: inline-block;
  padding: 0 1em;
  overflow: hidden;
  text-align: center;
}

input[type="submit"] {
  margin-right: 0.615384em; // For multiple buttons, and following text.
  -webkit-appearance: none; // iOS Safari reset.

  &[disabled="disabled"] {
    &, &:hover, &:focus {
      background: $c-gray;
      border-color: $c-gray;
      cursor: not-allowed;
    }
  }
}

input[type="submit"],
details.button > summary,
form button {
  border-radius: 6px;
  font-size: 0.92307em;  // 1 * 0.92307 = 12px
  padding: 0 1em;
  line-height: 2.008em; // 24px tall, baselines aligned with following text.
}
form .form-actions input[type="submit"] {
  font-size: 1.1em;
  background: $c-navy-blue;
  border-color: $c-navy-blue;
  transition: all 0.3s ease;
  &:hover {
    background: $c-blue;
    border-color: $c-navy-blue;
  }
}

form fieldset {
  border-radius: 6px;
  border: 1px solid $c-gray-mid;
}

details {
  margin-bottom: 10px;
  > summary {
    color: $c-gray;
    &::-webkit-details-marker {
      display: none; // Safari reset.
    }

    &:hover, &:focus {
      cursor: pointer;
    }
  }
  &[open] > summary {
    margin-bottom: 10px;
  }
}

form details {
  border-radius: 6px;
  border: 1px solid $c-gray-mid;
  padding: 10px;
}

// Make buttons less loud inside fieldsets & field collections.
fieldset,
.field-widget-field-collection-embed {
  a.link-button,
  input[type="submit"],
  button {
    background: $c-dark-gray;
    border: 2px solid $c-dark-gray;
  }
}

// File upload fields
.form-managed-file .form-file {
  margin-right: 1em;
}

// Changed draggable rows (usually constains <span class="warning">)
tr.odd, tr.even {
  &.drag-previous {
    background: $c-light-green;
  }
}

form .field-multiple-table td.field-multiple-drag {
  width: 40px;
}

form .field-multiple-table h4 {
  font-size: 1em;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 0;
}

form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
  padding-right: 0;
  .handle {
    width: 32px;
    height: 32px;
  }
}

tr.draggable span.warning {
  margin-left: 0;
}

form table thead tr th {
  text-align: left;
}

.vertical-tabs fieldset.vertical-tabs-pane {
  padding: 0.692em 1em;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.4em;
}

.views-exposed-form {
  .form-item,
  .form-actions {
    float: left;
    padding: 0.5em 1em 0 0;

    input,
    select {
      display: block;
    }
    input[type="submit"] {
      margin-top: 1.5em;
    }
  }

  + * {
    clear: both;
  }
}

// Improve form element usability on narrow devices.
@include bp(sm, 'max') {
  input[type="submit"] + input[type="submit"]  {
    margin-left: 0;
  }
  input.form-autocomplete,
  input.form-text,
  input.form-tel,
  input.form-email,
  input.form-url,
  input.form-search,
  input.form-number,
  input.form-color,
  input.form-file,
  textarea.form-textarea {
    width: 100%;
    font-size: 1.2em;
    line-height: 1em;
  }
  .form-select {
    width: 100%;
  }
  .form-actions input,
  .form-wrapper input[type="submit"],
  .views-exposed-form .views-exposed-widget .form-submit {
    float: none;
    margin-right: 0;
    margin-top: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    width: 100%;
    font-size: 1.2em;
  }
  .exposed-filters .filters,
  .exposed-filters .form-item label,
  .exposed-filters .form-select {
    float: none;
    margin-bottom: 2px;
    width: 100%;
  }
  fieldset .fieldset-legend {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  .views-exposed-form .views-exposed-widget {
    float: none;
  }
}

// User profile edit form, /user/N/edit
#user-profile-form {
  // First and last name in 1 row.
  .group-name {
    @include clearfix;
    .field-name-field-first-name {
      float: left;
      margin-right: 1em;
    }
  }

  .group-name,
  .field-name-field-organizations {
    .form-type-textfield input {
      width: 20em; // Override core's 100%
    }
  }
}

// Checkbox styled like a link to toggle other items.
.element-invisible.toggle + label {
  color: $c-blue;
}
.element-invisible.toggle:checked + label {
  font-weight: bold;
}

// Checkbox styled like a button to toggle other items.
.element-invisible.toggle-button + label {
  background: $c-green;
  border: 2px solid $c-green;
  color: $c-white;
  display: inline-block;
  font-size: 1.077em; // 14pt
  padding: .5em 2em;
}
.element-invisible.toggle-button:checked + label,
.element-invisible.toggle-button:focus + label,
.element-invisible.toggle-button:hover + label {
  text-decoration: none;
  background: $c-medium-green;
  border: 2px solid $c-medium-green;
}

.password-strength {
  max-width: 300px;
  .password-strength__indicator {
    &.is-strong {
      background: $c-green;
    }
    &.is-weak {
      background: $c-alert;
    }
    &.is-fair {
      background: $c-warning;
    }
    &.is-good {
      background: $c-medium-green;
    }
  }
}
.password-suggestions,
.js-filter-guidelines {
  border-radius: 6px;
  background: $c-pale-gray;
  padding: 15px;
}

form label.form-required {
  &::after {
    content: '*';
    color: $c-alert;
    margin-left: 5px;
  }
}
