@use '../settings/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/buttons' as *;

#drupalorg-crosssite-gdpr {
  background: $c-dark-navy;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, .2);
  color: $c-white;
  padding: 1em;
  text-align: center;
  z-index: 1000;

  a, a:visited, a:active {
    color: $c-light-blue;
  }

  button {
    @include button;
    @include simple-button($c-green, $c-white, $c-medium-green);
    @include small-button;

    margin-right: 10px;
    margin-top: 10px;
  }
}

#drupalorg-crosssite-gdpr-edit {
  background: $c-gray-mid;
  padding: 1em;
}
