@use '../settings/variables' as *;
@use '../utilities/mixins' as *;

body {
  font-size: 1.1rem;
}

.g-elements {
  pointer-events: none;
}

.g-elements__background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image:
    radial-gradient(at 86% 0%, hsla(199, 100%, 56%, 1) 0, transparent 50%),
    radial-gradient(at 0% 49%, hsla(315, 100%, 90%, 1) 0, transparent 50%),
    radial-gradient(at 0% 99%, hsla(209, 100%, 70%, 1) 0, transparent 50%),
    radial-gradient(at 0% 0%, hsla(10, 0%, 100%, 1) 0, transparent 50%);
  transition: opacity 0.3s;
  pointer-events: none;
}

*[data-drupal-messages] {
  max-width: map-get($breakpoints, 'xl');
  margin: 10px auto;

  .messages {
    padding: 15px;
    margin: 10px 0;
    background: $c-white;
    border: 1px solid $c-light-blue;
    color: $c-navy-blue;
    border-radius: 6px;
    &.messages--warning {
      border-color: $c-warning;
      color: $c-warning;
    }
    &.messages--error {
      border-color: $c-alert;
      color: $c-alert;
    }
    &.messages--info,
    &.messages--status {
      border-color: $c-navy-blue;
      color: $c-navy-blue;
    }
  }
}

.error {
  border-radius: 6px;
  color: $c-alert;
  border: 1px solid $c-alert;
  background: $c-white;
  padding: 15px;
}
