@use '../settings/variables' as *;
@use '../utilities/mixins' as *;

// Language Switcher Globe Icon
.g-elements__globe-wrapper {
  display: none;

  @include bp(xl2) {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 9;
    display: block;
    width: 80px;
    height: 80px;
    overflow: hidden;
    pointer-events: all;
  }
}

.g-elements__globe {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.g-elements__globe:hover .g-elements__globe-border {
  transform: scale(1.145);
}

.g-elements__globe-btn {
  @include button-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.g-elements__globe svg {
  width: 24px;
  height: 24px;
  color: $c-navy-blue;
}

// Light version
.g-elements__globe.swap--light svg {
  color: $c-white;
}

.g-elements__globe-border {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 1px solid $c-gray-blue;
  border-radius: 50%;
  transition: transform 0.3s $t-cubic-easing;
}

.g-elements__globe.swap--light .g-elements__globe-border {
  border: 1px solid $c-white;
}

// Language Switcher block
.g-elements__language-switcher {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: calc(100% - 16px);
  background: $c-white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 30px 60px rgba(25, 55, 102, 0.15);
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 0.3s $t-cubic-easing-slide,
    visibility 0.3s $t-cubic-easing;
  transition-delay: 0.2s;
  pointer-events: all;

  @include bp(xl) {
    top: unset;
    bottom: 0;
    width: 445px;
    border-bottom-left-radius: unset;
    transform: translateY(100%);
  }
}

.language-expanded .g-elements__language-switcher {
  transform: translateX(0);
  visibility: visible;

  @include bp(xl) {
    transform: translateY(0);
  }
}

// Language switcher inner wrapper
.g-elements__language-inner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 40px 30px 40px 35px;

  @include bp(xl) {
    padding: 45px 40px 50px;
  }
}

// Language switcher close icon
.g-elements__language-switcher-close {
  display: flex;
  height: fit-content;
  cursor: pointer;
}

.g-elements__language-switcher-close .close-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    width: 2px;
    height: 100%;
    background: $c-gray-blue;
    transition: transform 0.25s $t-cubic-easing;
    content: '';
  }

  &::before {
    transform: rotate(45deg) translate(-120%, -120%);
  }

  &::after {
    transform: rotate(-45deg) translate(-120%, -120%);
    transition-delay: 0.15s;
  }
}

.language-expanded .g-elements__language-switcher-close .close-icon {
  &::before {
    transform: rotate(45deg) translate(0, 0);
    transition-delay: 0.4s;
  }

  &::after {
    transform: rotate(-45deg) translate(0, 0);
    transition-delay: 0.55s;
  }
}

// Language switcher language list
.g-elements__language-inner > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.g-elements__language-inner > ul > li {
  @include data-reveal(-100%, -1deg);

  &:not(:last-child) {
    margin-bottom: 48px;
  }
}

.language-expanded .g-elements__language-inner > ul > li {
  @include stagger-reveal(0.3, 0.05);
  transform: translateY(0) skewY(0);
  visibility: visible;
  opacity: 1;
}

.g-elements__language-inner > ul > li > a {
  color: $c-gray-blue;
  font-family: $font-family-monoscape;
  text-decoration: none;

  &.is-active {
    color: $c-gray-blue; // override default color
  }
}
