@use '../settings/variables' as *;
@use '../utilities/mixins' as *;

// View/Edit/Layout tabs.
.block-local-tasks-block {
  max-width: map-get($breakpoints, 'xl');
  margin: 10px auto;
}

.block-local-tasks-block .block-local-tasks-block__content ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
  padding: 0;
  row-gap: 1px;
}

.block-local-tasks-block .block-local-tasks-block__content ul li {
  list-style: none;
}

.block-local-tasks-block .block-local-tasks-block__content ul a {
  border-radius: 6px;
  margin-right: 5px;
  display: block;
  padding: 8px 12px;
  color: $c-dark-blue;
  text-decoration: none;
  background: $c-white;
  transition: all 0.3s ease;

  &:hover,
  &:focus-visible {
    background: $c-dark-blue;
    color: $c-white;
  }
}

.block-local-tasks-block .block-local-tasks-block__content ul a.is-active {
  color: $c-white;
  background: $c-blue;

  /* stylelint-disable scss/no-global-function-names */
  &:hover,
  &:focus {
    background: darken($c-green, 30%);
  }
  /* stylelint-enable scss/no-global-function-names */
}
