@use '../settings/variables' as *;
@use '../utilities/mixins' as *;

#drupalorg-site-status {
  background: $c-alert;
  color: $c-white;
  padding: .5em;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 2px 1px rgba(68, 68, 68, .5);
  z-index: 1;
}

#drupalorg-site-status a {
  color: $c-white;
  text-decoration: underline;
}
