@use '../helpers' as *;

.swiper-horizontal > .swiper-pagination-bullets {
  position: relative;
  bottom: 0;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin-top: 60px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  margin: 0;
  background: $c-navy-blue;
  transform: scale(0.5555);
  backface-visibility: hidden;
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

// Active bullet
.swiper-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  background: none;
  background: transparent;
  border: 1px solid $c-navy-blue;
  transform: scale(1);
  opacity: 1;
}
