@use '../settings/variables' as *;
@use '../utilities/typography' as *;

body {
  font-family: $font-family-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: $font-family-sans;
}

.page-node-type-component-page h1,
.h1 {
  @include heading-1;
}

.page-node-type-component-page h2,
.h2 {
  @include heading-2;
}

.page-node-type-component-page h3,
.h3 {
  @include heading-3;
}

.page-node-type-component-page h4,
.h4 {
  @include heading-4;
}

.page-node-type-component-page h5,
.h5 {
  @include heading-5;
}

// h6,
.h6 {
  @include heading-6;
}

.description-text,
p {
  @include description-text;
}

.intro-text {
  @include intro-text;
}
