{%
  set btn_classes = [
    'btn',
    'btn--' ~ type,
    icon ? 'btn--icon',
  ]
%}

{% if link %}
  <a class="{{ btn_classes|join(' ') }}" href="{{ link }}">
{% else %}
  <button class="{{ btn_classes|join(' ') }}">
{% endif %}
  {% if icon and icon_position == 'before' %}
    <span class="btn__icon">
      {{ source('@svgs/icon-' ~ icon ~ '.svg', { ignore_missing: true }) }}
    </span>
  {% endif %}
  <span class="btn__text">{{ label }}</span>
  {% if icon and icon_position != 'before' %}
    <span class="btn__icon">
      {{ source('@svgs/icon-' ~ icon ~ '.svg', { ignore_missing: true }) }}
    </span>
  {% endif %}
{% if link %}
  </a>
{% else %}
  </button>
{% endif %}
