@use '@styles/helpers' as *;
@use '@styles/utilities/buttons' as *;

// Site header links (Right aligned)
.site-header__links {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-left: auto;

  @include bp(xxl) {
    gap: 30px;
  }

  @include bp(xxxl) {
    gap: 40px;
  }
}

.site-header__links button {
  @include button-reset;
}

.site-header__globe,
.site-header__menu-trigger {
  display: flex;
  transition: opacity 0.3s ease;

  @include bp(xl2) {
    display: none;
  }

  &:hover svg,
  &:focus-visible svg {
    opacity: 0.5;
  }
}

.site-header__globe svg,
.site-header__menu-trigger svg {
  width: 28px;
  height: 28px;
  color: $c-navy-blue;
  transition: opacity 0.3s ease;
}

@include dark-header {
  .site-header__links svg {
    color: $c-navy-blue;
  }
}

.site-header__links .site-header__search,
.site-header__links .site-header__user {
  position: relative;
  transition: opacity 0.3s $t-cubic-easing, visibility 0.3s $t-cubic-easing;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background: rgba($c-white, 0.1);
    border: 1px solid $c-white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s $t-cubic-easing, visibility 0.3s $t-cubic-easing;
    content: '';

    @include bp(xxxl) {
      width: 50px;
      height: 50px;
    }
  }

  &:hover::before,
  &:focus-visible::before {
    visibility: visible;
    opacity: 1;
  }
}

.site-header__links .site-header__search {
  &::before {
    transform: translate(calc(-50% + 1px), -50%);
  }
}

.site-header__links .site-header__search svg,
.site-header__links .site-header__user svg {
  width: 18px;
  height: 18px;
  color: $c-navy-blue;
}

@include dark-header {
  .site-header__links .site-header__search,
  .site-header__links .site-header__user {
    &::before {
      background: rgba($c-navy-blue, 0.1);
      border-color: $c-navy-blue;
    }
  }

  .site-header__links .site-header__search svg,
  .site-header__links .site-header__user svg {
    color: $c-navy-blue;
  }
}

// Callout buttons
.site-header__callout {
  display: none;

  @include bp(xl2) {
    display: block;
  }
}

@include dark-header {
  .site-header__callout .btn {
    @include primary-button(
      $c-light-navy-blue,
      $c-white,
      $c-light-navy-blue,
      transparent
    );
  }
}

// Pause Motion button
.site-header__links .site-header__motion {
  display: none;
  //display: flex;
  position: relative;
  align-items: center;
  height: 100%;

  @include bp(xl2, 'max') {
    &:hover svg,
    &:focus-visible svg {
      opacity: 0.5;
    }
  }

  @include bp(xl2) {
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      background: rgba($c-white, 0.1);
      border: 1px solid $c-white;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s $t-cubic-easing, visibility 0.3s $t-cubic-easing;
      content: '';
    }

    &:hover::before,
    &:focus-visible::before {
      visibility: visible;
      opacity: 1;
    }
  }

  @include bp(xxxl) {
    @include underline($c-white, $spacing: 0);

    &::before {
      display: none;
    }
  }
}

.site-header__motion .site-header__motion-pause {
  display: flex;
}

.site-header__motion .site-header__motion-pause svg {
  width: 18px;
  height: 23px;
  color: $c-navy-blue;
  transition: opacity 0.3s ease;

  @include bp(xl2) {
    height: 18px;
  }
}

.site-header__motion .site-header__motion-play {
  display: none;

  svg {
    color: $c-navy-blue;
  }
}

@include dark-header {
  .site-header__motion-pause svg,
  .site-header__motion-play svg {
    color: $c-navy-blue;
  }
}

.site-header__motion.paused .site-header__motion-pause {
  display: none;
}

.site-header__motion.paused .site-header__motion-play {
  display: flex;
}

.site-header__motion span {
  display: none;

  @include bp(xxxl) {
    @include text-style-h-5-mono;
    display: block;
    margin-left: 14px;
    color: $c-navy-blue;
  }
}

@include dark-header {
  .site-header__motion {
    @include bp(xxxl, 'max') {
      &::before {
        background: rgba($c-navy-blue, 0.1);
        border-color: $c-navy-blue;
      }
    }

    @include bp(xxxl) {
      @include underline($c-navy-blue, $spacing: 0);
    }
  }

  .site-header__motion span {
    color: $c-navy-blue;
  }
}

.site-header__search,
.site-header__user {
  display: none;

  @include bp(xl2) {
    display: flex;
  }
}

