@use '@styles/helpers' as *;

// Content spacing below heading
.site-header-mirror-padding {
  position: relative;
  z-index: 2;
  // padding-top: 120px;

  @include bp(lg) {
    //padding-top: 160px;
  }
}

.site-header {
  position: relative;
  top: 0;
  z-index: 9;
  width: 100%;

  color: $c-navy-blue;
  background: $c-white;
  border-bottom: 1px solid $c-navy-blue;
}

.site-header.site-header--no-transition * {
  transition: unset !important; /* stylelint-disable-line declaration-no-important */
}

.site-header.site-header--scrolled {
  position: fixed;
  transform: translateY(-100%);
}

.site-header.site-header--scrolled-animated {
  transition: transform 0.15s cubic-bezier(0.67, 0.26, 0.27, 0.85);
}

.site-header.site-header--sticky {
  transform: translateY(0);
}

.site-header__container {
  @include container;
  z-index: 9;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-header.site-header--scrolled .site-header__container {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}
