@use '@styles/helpers' as *;

// Menu dropdown
.nav .nav__inner .nav__list--level-0 > .nav__item .nav__dropdown {
  position: absolute;
  top: 75px;
  display: none;
  width: 100%;
  padding-bottom: 50px;
  pointer-events: none;

  @include bp(xl2, 'max') {
    @include data-reveal(3%, 1deg, 0.6);
  }

  @include bp(xl2) {
    --total-offset: calc(
      var(--drupal-displace-offset-top) + var(--announcement-bar-offset)
    );
    position: absolute;
    top: 60px;
    left: 0;
    z-index: -1;
    display: block;
    width: calc(100% - 50px - 100px);
    padding-bottom: 0;
    transform: translateY(-6%);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.3s $t-cubic-easing-slide,
      visibility 0.3s $t-cubic-easing, opacity 0.3s $t-cubic-easing;

  }
}

.nav .nav__inner .nav__list--level-0 > .nav__item:last-child .nav__dropdown {
  @include bp(xl2) {
    left: -500px;
  }
}

.site-header.site-header--scrolled
  .nav
  .nav__inner
  .nav__list--level-0
  > .nav__item
  .nav__dropdown {
  top: 85px;
}

.site-header.site-header--no-dropdown
  .nav
  .nav__inner
  > .nav__list--level-0
  > .nav__item
  .nav__dropdown {
  @include bp(xl2) {
    display: none;
  }
}

.nav .nav__inner .nav__list--level-0 > .nav__item .nav__dropdown-inner {
  @include bp(xl2) {
    width: fit-content;
    margin: 0 auto;
    background: $c-white;
    border-radius: 10px;
    box-shadow: 0 5px 60px rgba(25, 55, 102, 0.3);
  }
}

.site-header--scrolled
  .nav
  .nav__inner
  .nav__list--level-0
  > .nav__item
  .nav__dropdown-inner {
  margin: unset;
  filter: drop-shadow(0 30px 60px rgba($c-dark-navy, 0.25));
}

.nav .nav__inner .nav__list--level-0 > .nav__item .nav__dropdown-content {
  @include bp(xl2) {
    display: flex;
    gap: 30px;
    padding: 60px 40px;
  }

  @include bp(xxl) {
    gap: 40px;
  }

  @include bp(xxxl) {
    padding: 60px 80px;
  }
}

// Desktop dropdown reveal
.nav .nav__inner .nav__list--level-0 > .nav__item:hover,
.nav .nav__inner .nav__list--level-0 > .nav__item:focus-within {
  @include bp(xl2) {
    &::before {
      display: block;
    }

    &::after {
      transform: translateY(-5px) translateX(-50%);
      visibility: visible;
      opacity: 1;
    }
  }
}

.nav
  .nav__inner
  .nav__list--level-0
  > .nav__item--expanded:hover
  .nav__dropdown,
.nav
  .nav__inner
  .nav__list--level-0
  > .nav__item--expanded:focus-within
  .nav__dropdown,
.nav__dropdown:hover,
.nav__dropdown:focus-within {
  @include bp(xl2) {
    z-index: 9;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    pointer-events: all;

    li {
      visibility: visible;
      opacity: 1;
    }
  }
}

// Mobile dropdown
.nav .nav__inner > ul > .nav__item--level-0.menu-item--open .nav__dropdown {
  display: block;
}

.enable-motion
  .nav
  .nav__inner
  > ul
  > .nav__item--level-0.menu-item--open-transition
  .nav__dropdown {
  transform: translate(0) skew(0);
  visibility: visible;
  opacity: 1;
  transition-delay: 0.4s;
  pointer-events: all;
}
