@use '@styles/helpers' as *;

// Main menu header (mobile)
.nav .nav__header {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  @include bp(xl2) {
    display: none;
  }
}

// Close Icon
.nav .nav__close-icon {
  @include button-reset;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    width: 2px;
    height: 100%;
    background: $c-navy-blue;
    transition: transform 0.25s $t-cubic-easing;
    content: '';
  }

  &::before {
    transform: rotate(45deg) translate(-120%, -120%);
  }

  &::after {
    transform: rotate(-45deg) translate(-120%, -120%);
    transition-delay: 0.15s;
  }
}

.nav-open .nav .nav__close-icon {
  &::before {
    transform: rotate(45deg) translate(0, 0);
    transition-delay: 0.4s;
  }

  &::after {
    transform: rotate(-45deg) translate(0, 0);
    transition-delay: 0.55s;
  }
}

// Mobile search expanded
.enable-motion.mobile-search-expanded .c-search.c-search--mobile {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s $t-cubic-easing, visibility 0.8s $t-cubic-easing,
    transform 0.8s $t-cubic-easing;
  transition-delay: 0.15s;
}

.mobile-search-expanded .nav__breadcrumbs,
.mobile-search-expanded .nav__list,
.mobile-search-expanded .nav__footer,
.mobile-search-expanded .nav__close-icon {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}
