@use '@styles/helpers' as *;

// Main Menu mobile footer
.nav .nav__footer {
  @include data-reveal(30%, 1deg);
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: none;

  @include bp(xl2) {
    display: none;
  }
}

.nav-open:not(.submenu-expanded) .nav .nav__footer {
  transform: translateY(0) skewY(0);
  visibility: visible;
  opacity: 1;
  transition-delay: 0.6s;
  pointer-events: all;
}

// Absolute positioning for height control on mobile, for when submenu is expanded.
.nav-open.submenu-expanded--transition .nav .nav__footer {
  position: absolute;
  top: 0;
  pointer-events: none;
}

.nav .nav__footer > .nav__user {
  display: flex;
  color: $c-gray-blue;
  font-family: $font-family-monoscape;
  text-decoration: none;

  svg {
    margin-right: 14px;
    color: $c-navy-blue;
  }
}

.nav .nav__footer > .btn {
  flex-shrink: 0;
  justify-content: center;
  margin-top: 50px;
}
