@use '@styles/helpers' as *;

// Site Nav
.site-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 30px);
  overflow: hidden;
  pointer-events: none;

  @include bp(xl2) {
    position: initial;
    width: auto;
    height: auto;
    overflow: initial;
  }
}

// Main menu
.nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  width: calc(100% - 16px);
  height: calc(100vh - 30px);
  overflow-x: hidden;
  overflow-y: auto;
  background: $c-white;
  border-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 0.3s $t-cubic-easing-slide,
    visibility 0.3s $t-cubic-easing-slide;
  transition-delay: 0.2s;
  pointer-events: all;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  @include bp(xl2) {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    overflow: initial;
    background: none;
    border-radius: unset;
    transform: none;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s $t-cubic-easing, visibility 0.3s $t-cubic-easing;
  }

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

// Expanded mobile menu
.nav-open .nav {
  transform: translateX(0);
  visibility: visible;
}

.nav .nav__inner {
  padding: 40px 30px;

  @include bp(xl2) {
    padding: 0;
  }
}

// Main menu unordered list
.nav .nav__inner > ul.nav__list {
  @include list-reset;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 50px 0;

  @include bp(xl2) {
    flex-direction: row;
    gap: 25px;
    margin: 0 0 0 25px;
  }

  @include bp(xxl) {
    gap: 30px;
    margin: 0 0 0 30px;
  }

  @include bp(max) {
    gap: 40px;
    margin: 0 0 0 40px;
  }
}

// Main Menu level 0 list item
.nav .nav__inner > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 30px;

    @include bp(xl2) {
      margin-bottom: 0;
    }
  }
}

.nav .nav__inner > ul > li.nav__item--expanded {
  @include bp(xl2) {
    position: relative;

    // Invisible connecting 'bridge'
    &::before {
      --total-offset: calc(
        var(--drupal-displace-offset-top) + var(--announcement-bar-offset)
      );
      position: absolute;
      top: 20px;
      left: 0;
      display: none;
      width: 100%;
      height: 40px;
      content: '';
    }

    // Triangle
    &::after {
      position: absolute;
      bottom: -24px;
      left: 50%;
      width: 0;
      height: 0;
      border-color: transparent transparent $c-white;
      border-style: solid;
      border-width: 0 8px 8px;
      transform: translateY(-200%) translateX(-50%);
      visibility: hidden;
      opacity: 0;
      transition: transform 0.35s $t-cubic-easing-slide,
        visibility 0.35s $t-cubic-easing, opacity 0.35s $t-cubic-easing;
      content: '';
      pointer-events: none;
    }
  }
}

.site-header.site-header--scrolled .nav .nav__inner > ul > li {
  @include bp(xl2) {
    position: relative;

    // Invisible connecting 'bridge'
    &::before {
      top: 60px;
    }

    // Triangle
    &::after {
      display: none;
    }
  }
}

.site-header.site-header--no-dropdown .nav__inner > ul > li {
  // Triangle
  &::after {
    display: none;
  }
}

// Stagger reveal for list item link/caret.
.nav-open:not(.submenu-expanded) .nav__inner > ul > li {
  @include stagger-reveal(0.2, 0.05, $selector: '.nav__link');
}

// reveal animation for list item link/caret.
.enable-motion.nav-open:not(.submenu-expanded)
  .nav__inner
  > ul
  > li
  .nav__link {
  transform: translateY(0) skewY(0);
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

// List items absolute positioning for when submenu is opened, for height control purposes.
.nav-open.submenu-expanded--transition
  .nav
  .nav__inner
  > ul
  > li:not(.menu-item--open) {
  position: absolute;
}

// Main Menu level 0 link
.nav .nav__inner > ul > li .nav__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include bp(xl2, 'max') {
    @include data-reveal(100%, 1deg);
  }
}

.nav .nav__inner > ul > li .nav__link > a:not(.btn) {
  @include text-style-nav-secondary-link;
  color: $c-navy-blue;

  @include bp(xl2) {
    @include text-style-nav-primary-link;
    @include underline($spacing: 11px);
    margin-top: 11px;
    color: $c-navy-blue;
    text-transform: uppercase;
  }
}

// Sticky/expanded search overrides for anchors
@include dark-header {
  .nav__inner > ul > li .nav__link > a:not(.btn) {
    color: $c-navy-blue;
  }
}

// Override custom "Support Drupal" button styling for mobile nav.
.nav .nav__inner > ul > li .nav__link > a.btn {
  @include bp(xl2, 'max') {
    gap: 0;
    padding: 0;
    border: unset;

    &::before {
      display: none;
    }
  }
}

.nav__inner > ul > li .nav__link > a.btn .btn__text {
  @include bp(xl2, 'max') {
    @include text-style-nav-secondary-link;
    color: $c-navy-blue;
  }
}

.nav__inner > ul > li .nav__link > a.btn .btn__icon {
  @include bp(xl2, 'max') {
    display: none;
  }
}

// Sticky/expanded search overrides for anchor (btn class)
@include dark-header {
  .nav__inner > ul > li .nav__link > a.btn {
    color: $c-navy-blue;
    border-color: $c-navy-blue;

    &::before {
      background: rgba($c-navy-blue, 0.1);
    }
  }

  .nav__inner .nav__link > a.btn svg {
    stroke: $c-navy-blue;
  }
}

// Main Menu level 0 caret
.nav .nav__inner > ul > li .nav__link-caret {
  @include button-reset;
  display: flex;

  @include bp(xl2) {
    display: none;
  }
}

.nav .nav__inner > ul > li .nav__link-caret svg {
  color: $c-navy-blue;
}
