@use '@styles/helpers' as *;

// Menu Breadcrumbs
.nav .nav__inner .nav__breadcrumbs {
  position: relative;
  pointer-events: none;

  @include bp(xl2) {
    display: none;
  }
}

.nav .nav__inner .nav__breadcrumbs-inner {
  @include data-reveal(10%, 1deg, 0.3);
  @include list-reset;
  position: absolute;
  top: 50px;
  display: flex;
  gap: 20px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba($c-black, 0.5);
}

.nav .nav__inner .nav__breadcrumbs li {
  visibility: hidden;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s $t-cubic-easing, visibility 0.3s $t-cubic-easing,
    transform 0.3s $t-cubic-easing;
  pointer-events: none;
}

.nav .nav__inner .nav__breadcrumbs li button {
  @include button-reset;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav .nav__inner .nav__breadcrumbs li button > * {
  pointer-events: none;
}

.nav .nav__inner .nav__breadcrumbs li svg {
  width: 8px;
  color: $c-navy-blue;
}

.nav .nav__inner .nav__breadcrumbs li span {
  @include text-style-nav-breadcrumb;
  color: $c-dark-blue;
}

.nav .nav__inner .nav__breadcrumbs.breadcrumbs-active {
  z-index: 9;
  pointer-events: all;
}

.nav .nav__inner .nav__breadcrumbs.breadcrumbs-active .nav__breadcrumbs-inner {
  transform: translate(0) skew(0);
  visibility: visible;
  opacity: 1;
  transition-delay: 0.4s;
}

.breadcrumbs-active--level-1 li.nav__breadcrumb-level.nav__breadcrumbs-level-1,
.breadcrumbs-active--level-2 li.nav__breadcrumb-level.nav__breadcrumbs-level-2 {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
