@use '@styles/helpers' as *;

.menu-item__dropdown--open .nav__dropdown-cta {
  display: none;
}

.nav__dropdown-cta {
  margin-bottom: 40px;
  color: $c-navy-blue;

  @include bp(xl2) {
    margin-bottom: 0;
  }
}

.nav__dropdown-cta-title {
  @include text-style-h-7;
}

.nav__dropdown-cta-desc {
  @include text-style-nav-primary-description;
  max-width: 385px;
  margin-top: 8px;

  @include bp(md) {
    margin-top: 12px;
  }
}

.nav__dropdown-cta-link {
  @include text-style-button-text;
  @include underline-reverse($spacing: 12px);
  display: block;
  width: fit-content;
  margin-top: 30px;
  color: $c-navy-blue;

  @include bp(md) {
    margin-top: 40px;
  }
}
