@use '@styles/helpers' as *;

.nav__dropdown-groups {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include bp(xl2) {
    display: grid;
    grid-template-columns: repeat(var(--group-count), 1fr);
    height: 100%;
    column-gap: 30px;
    row-gap: 40px;
  }

  @include bp(xxl) {
    column-gap: 40px;
  }
}

.nav__dropdown-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;

  @include bp(md) {
    gap: 20px;
    justify-content: flex-start;
  }

  @include bp(xl2) {
    align-items: flex-start;
  }
}

// Hide non open groups when one of the subnav groups is open (mobile).
.menu-item__dropdown--open .nav__dropdown-group:not(.menu__subnav-block--open) {
  display: none;
}

// Only title variation, center with icons.
.nav__dropdown-group.nav__dropdown-group--title {
  align-items: center;
}

.nav__dropdown-group-icon {
  display: none;

  @include bp(md) {
    display: block;
    flex-shrink: 0;
    width: 52px;
    height: 60px;
    padding: 10px;
    background: $c-pale-blue;
    border-radius: 10px;
  }
}

.nav__dropdown-group-icon img {
  width: 100%;
  height: 100%;
}

.nav__dropdown-group-link {
  @include text-style-nav-secondary-link;
  @include underline($height: 1px, $spacing: 4px);
  margin-bottom: 2px;
  color: $c-navy-blue;
}

.nav__dropdown-group-desc {
  @include text-style-nav-secondary-description;
  max-width: 285px;
  color: $c-gray-mid;
}

// Hide title/description/trigger for the open group (mobile)
.menu__subnav-block--open .nav__dropdown-group-icon,
.menu__subnav-block--open .nav__dropdown-group-link,
.menu__subnav-block--open .nav__dropdown-group-desc,
.menu__subnav-block--open .nav__dropdown-group-mobile-trigger {
  display: none;
}

.nav__dropdown-group-children {
  display: none;
  pointer-events: none;

  @include bp(xl2) {
    position: relative;
    display: block;
    margin-top: 20px;
    pointer-events: all;
  }
}

// Display subnav menu whenever submenu is expanded (mobile).
.submenu-expanded .menu__subnav-block--open .nav__dropdown-group-children {
  display: block;
  pointer-events: all;
}

// Display subnav menu whenever submenu is expanded (mobile).
.nav__dropdown-group-children ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__dropdown-group-children ul li {
  @include bp(xl2, 'max') {
    @include data-reveal(100%, 1deg);
    @include stagger-reveal(0.1, 0.03);
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @include bp(lg) {
      margin-bottom: 12px;
    }
  }
}

// Subnav menu list item transitions reveal (mobile).
.menu-item__dropdown--open-transition
.menu__subnav-block--open
.nav__dropdown-group-children
ul
li {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.nav__dropdown-group-children ul li a {
  @include underline($height: 1px, $spacing: 4px);
  @include text-style-nav-secondary-link;
  color: $c-navy-blue;

  @include bp(xl2) {
    @include text-style-nav-tertiary-link;
  }
}

.nav__dropdown-group-children ul li.overview-link {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 30px;

  @include bp(xl2) {
    margin-top: 12px;
  }
}

.nav__dropdown-group-children ul li.overview-link a {
  @include text-style-button-text;
  @include underline($height: 1px, $spacing: 1px);
  color: $c-gray-mid;

  @include bp(xl2) {
    @include text-style-nav-overview-link;
  }
}

.nav__dropdown-group-children ul li.overview-link .overview-link__icon {
  display: flex;
}

.nav__dropdown-group-children ul li.overview-link svg {
  width: 12px;
  height: 9px;
  color: $c-gray-mid;
}

// Subnav group links callout.

// .submenu-expanded .menu__subnav-block--open .nav__dropdown-group-cta {
//   display: flex;
// }

// .menu-item__dropdown--open-transition
// .menu__subnav-block--open
// .nav__dropdown-group-cta {
//   transform: none;
//   visibility: visible;
//   opacity: 1;
//   transition-delay: 0.35s;
//   pointer-events: all;
// }

// Subnav group mobile trigger.
.nav__dropdown-group-mobile-trigger {
  @include button-reset;
  color: $c-navy-blue;

  @include bp(md) {
    padding-left: 20px;
  }

  @include bp(xl2) {
    display: none;
  }

  svg {
    width: 8px;
    height: 12px;
  }
}
