@use '@styles/helpers' as *;

// Hide dropdown footer when subnav group is open.
.menu-item__dropdown--open .nav__dropdown-footer {
  display: none;
}

.nav__dropdown-footer {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0;

  @include bp(xl2) {
    gap: 40px;
    margin: 0;
    padding: 20px 40px;
    background: linear-gradient(0deg,
    rgba($c-light-blue, 0.16),
    rgba($c-light-blue, 0.16)),
      $c-white;
    border-radius: 0 0 10px 10px;
  }

  @include bp(xxl) {
    padding: 20px 80px;
  }
}

.nav__dropdown-footer-info,
.nav__dropdown-footer-links {
  display: none;

  @include bp(xl2) {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.nav__dropdown-footer-info .nav__dropdown-footer-info-title {
  @include text-style-h-5-mono;
  margin: 0;
  color: $c-navy-blue;
}

.nav__dropdown-footer-info-link,
.nav__dropdown-footer-link {
  display: flex;
  gap: 8px;
  align-items: center;
  color: $c-navy-blue;
}

.nav__dropdown-footer-info-link a,
.nav__dropdown-footer-link a {
  @include underline($height: 1px, $spacing: 3px);
  @include text-style-nav-cta;
  margin-top: 3px;
  color: $c-navy-blue;
}

.nav__dropdown-footer-info-link svg,
.nav__dropdown-footer-link svg {
  width: 16px;
  height: 16px;
  color: inherit;
}

// Right side links override
.nav__dropdown-footer-links {
  gap: 40px;
}

// Mobile buttons for subnav footer
.nav__dropdown-footer-mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  @include bp(xl2) {
    display: none;
  }
}

.nav__dropdown-footer-mobile .btn {
  justify-content: center;
}
