@use '@styles/helpers' as *;

.site-header__search-container {
  display: none;

  @include bp(xl2) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 100%;
    height: 300px;
    background: $c-white;
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.15s $t-cubic-easing-slide;
    border-bottom: 10px solid $c-pale-blue;
  }
}

.search-expanded .site-header__search-container {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.site-header__search-inner {
  @include container;
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-width: 850px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 68px;
}

.search-expanded .site-header--scrolled .site-header__search-inner {
  padding-bottom: 40px;
}

.c-search.c-search--desktop {
  position: relative;
  width: 100%;
}

.c-search.c-search--mobile {
  @include data-reveal(-100%, 0);
  display: flex;
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  transition: none;
}

.c-search input {
  width: 100%;
  padding: 4px 0 18px;
  color: $c-navy-blue;
  font-weight: 300;
  font-size: 20px;
  font-family: $font-family-sans;
  font-style: italic;
  background: none;
  border: unset;
  border-bottom: 1px solid $c-gray-mid;
  outline: none;
  box-shadow: unset;

  @include bp(xl2) {
    padding: 0 0 25px;
    font-size: 28px;
  }

  &::placeholder {
    padding-left: 10px;
    color: $c-gray-blue;
  }
}

.c-search button {
  @include button-reset;
  position: absolute;
  right: 4px;
  display: flex;
  &:hover {
    background: transparent;
  }
}

.c-search button svg {
  color: $c-navy-blue;
  transition: color 0.3s ease;

  &:hover,
  &:focus-visible {
    color: $c-gray-blue;
  }
}

.c-search.c-search--desktop button {
  top: 8px;
  &:hover {
    background: transparent;
    border-color: transparent;
  }
  svg {
    width: 24px;
    height: 24px;
  }
}

.c-search.c-search--mobile button {
  top: 6px;

  svg {
    width: 22px;
    height: 22px;
  }
}

// Mobile search
.nav__search {
  @include button-reset;
  @include data-reveal(0, 0);
}

// Search Icon
.search-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  overflow: hidden;
  cursor: pointer;
}

.search-icon.search-icon--mobile {
  width: 26px;
  height: 26px;
}

// Mobile search icon reveal
.nav-open .nav__header .nav__search {
  transform: translateY(0) skewY(0);
  visibility: visible;
  opacity: 1;
  transition-delay: 0.5s;
}

.search-icon .search-icon__circle {
  width: 14px;
  height: 14px;
  border: 2px solid $c-navy-blue;
  border-radius: 50%;
  transition: opacity 0.25s $t-cubic-easing;
}

.search-icon.search-icon--mobile .search-icon__circle {
  width: 22px;
  height: 22px;
  border: 2px solid $c-navy-blue;
}

.search-icon .search-icon__sticks {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 100;

  &::before {
    position: absolute;
    width: 2px;
    height: 100%;
    background: $c-navy-blue;
    transform: rotate(-45deg) translate(0%, 90%);
    transition: transform 0.25s $t-cubic-easing, height 0.25s $t-cubic-easing;
    content: '';
  }

  &::after {
    position: absolute;
    width: 2px;
    height: 100%;
    background: $c-navy-blue;
    transform: rotate(45deg) translate(-120%, -120%);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.25s $t-cubic-easing;
    content: '';
  }
}

@include dark-header {
  .search-icon .search-icon__circle {
    border: 2px solid $c-navy-blue;
  }

  .search-icon .search-icon__sticks {
    &::before {
      background: $c-navy-blue;
    }

    &::after {
      background: $c-navy-blue;
    }
  }
}

.search-expanded .search-icon .search-icon__circle,
.mobile-search-expanded .search-icon .search-icon__circle {
  visibility: hidden;
  opacity: 0;
}

.search-expanded .search-icon .search-icon__sticks,
.mobile-search-expanded .search-icon .search-icon__sticks {
  &::before {
    background: $c-navy-blue;
    transform: rotate(-45deg) translate(0, 0);
  }

  &::after {
    background: $c-navy-blue;
    transform: rotate(45deg) translate(0, 0);
    visibility: visible;
    opacity: 1;
    transition-delay: 0.15s;
  }
}
