@use '@styles/helpers' as *;

.site-header__secondary-nav {
  background: $c-white;
}

.site-header .site-header__secondary-nav {
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.15s $t-cubic-easing;
  pointer-events: none;
}

.site-header.site-header--sticky .site-header__secondary-nav {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition-delay: 0.15s;
  pointer-events: all;
}

.site-header__secondary-nav-inner {
  @include bp(lg) {
    @include container;
  }
}

.site-header__secondary-nav-border {
  width: 100%;
  height: 1px;
  background: rgba($c-gray, 0.25);
}

.secondary-nav {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba($c-gray, 0.25);

  @include bp(lg, 'max') {
    @include container;
  }

  @include bp(lg) {
    margin-right: -50px;
    padding: 0;
  }
}

.secondary-nav.is-overflowing {
  @include bp(lg) {
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 500px;
      height: 100%;
      background: linear-gradient(270deg,
      $c-white 0.01%,
      $c-white 23.37%,
      rgba($c-white, 0) 99.9%);
      content: '';
      pointer-events: none;
    }
  }
}

.secondary-nav.is-overflowing > ul {
  @include bp(lg) {
    padding-right: 500px;
  }
}

.secondary-nav > span {
  @include text-style-nav-subnav-title;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 20px;
  color: $c-navy-blue;

  @include bp(lg) {
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px solid $c-navy-blue;
  }
}

.secondary-nav ul {
  @include list-reset;
  @include container;
  position: absolute;
  top: 61px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  overflow: hidden;
  background: $c-white;
  transition: max-height 0.3s $t-cubic-easing;

  @include bp(lg) {
    position: relative;
    top: 0;
    flex-direction: row;
    width: auto;
    padding-top: 18px;
    padding-right: 0;
    padding-bottom: 18px;
    padding-left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    // padding-right: 500px;
    background: none;
    user-select: none;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}

.secondary-nav ul.is-grabbing {
  cursor: grabbing;
  cursor: grabbing;

  li {
    pointer-events: none;
  }
}

.secondary-nav ul li {
  flex-shrink: 0;

  &:first-child {
    padding-top: 40px;

    @include bp(lg) {
      padding-top: 0;
    }
  }

  &:last-child {
    padding-bottom: 40px;

    @include bp(lg) {
      padding-bottom: 0;
    }
  }
}

.secondary-nav ul li a {
  @include underline($color: $c-navy-blue, $spacing: 6px);
  @include text-style-nav-secondary-link;
  color: $c-navy-blue;

  @include bp(lg) {
    @include text-style-nav-breadcrumb;
    color: $c-gray-blue;
  }

  &:hover,
  &:focus-visible {
    color: $c-navy-blue;
  }
}

.secondary-nav__trigger {
  @include button-reset;
  position: relative;
  z-index: 9;
  display: flex;
  margin-left: auto;
  color: $c-navy-blue;

  @include bp(lg) {
    display: none;
  }
}

.secondary-nav__trigger svg {
  transition: transform 0.3s ease;
}

.secondary-nav__trigger.is-collapsed svg {
  transform: rotate(180deg);
}
