@use '@styles/helpers' as *;

// Site Logo
.site-branding a {
  display: flex;
  gap: 15px;
  align-items: flex-end;

  svg {
    width: 100%;
    height: 100%;
    color: $c-navy-blue;
  }
}

.site-branding__icon {
  display: flex;
  height: 36px;

  @include bp(xl) {
    height: auto;
  }
}

.site-branding__text {
  display: none;

  @include bp(xxxl2) {
    display: flex;
  }
}

@include dark-header {
  .site-branding__icon svg,
  .site-branding__text svg {
    color: $c-navy-blue;
  }
}

.site-header.site-header--scrolled .site-branding__icon svg {
  height: 36px;
}

.site-header.site-header--scrolled .site-branding__text {
  display: none;
}
