@use '@styles/helpers' as *;

// @TODO Cleanup & Refactor
.people-grid {
  margin-top: 60px;
  overflow: hidden;
}

.people-grid .view-content {
  transform: rotate(-1.5deg);

  @include bp(lg) {
    transform: rotate(-2.4deg);
  }
}

.people-grid .view-content .contributors__row {
  display: flex;
  gap: 25px;
  padding-top: 0;
  padding-bottom: 30px;
  transition: transform 0.8s $t-cubic-easing;

  @include bp(md) {
    gap: 35px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  @include bp(lg) {
    gap: 55px;
    padding-top: 50px;
  }
}

.people-grid .view-content .views-row .views-field-user-picture {
  width: 65px;
  min-width: fit-content;
  height: 65px;
  overflow: hidden;
  border-radius: 20px;

  @include bp(md) {
    width: 120px;
    height: 120px;
  }

  @include bp(lg) {
    width: 160px;
    height: 160px;
    border-radius: 30px;
  }
}

.people-grid .view-content .views-row .views-field-user-picture img {
  width: 65px;
  height: 65px;
  object-fit: cover;

  @include bp(md) {
    width: 120px;
    height: 120px;
  }

  @include bp(lg) {
    width: 160px;
    height: 160px;
  }
}
