@use '@styles/helpers' as *;

// Page Hero content wrapper
.c-hero__content {
  @include container;
  overflow: hidden;

  @include bp(xl) {
    overflow: initial;
  }
}

// Page Hero content row
.c-hero__rows .c-hero__row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include bp(md) {
    justify-content: center;
  }
}

// Hero Fragments First Row
.c-hero__rows .c-hero__row:nth-child(1) {
  // First row first text block
  > .c-hero__fragment:first-of-type {
    margin-right: 23px;

    @include bp(sm2) {
      margin-right: 0;
    }
  }

  // First row image wrapper
  > .c-hero__fragment:nth-child(2) {
    display: none;

    @include bp(sm2) {
      display: block;
      margin: 0 16px;
    }

    @include bp(lg) {
      margin: 0 30px;
    }

    @include bp(xxl) {
      margin: 0 58px;
    }

    .field--name-field-hero-heading-image > figure::before {
      border-top-left-radius: 140px;
      border-top-right-radius: 140px;
    }
  }

  // First Row Image
  .field--name-field-hero-heading-image img {
    width: 115px;
    height: 75px;
    border-top-left-radius: 140px;
    border-top-right-radius: 140px;

    @include bp(md) {
      width: 165px;
      height: 115px;
    }

    @include bp(lg) {
      width: 220px;
      height: 133px;
    }

    @include bp(xl) {
      width: 270px;
      height: 163px;
    }

    @include bp(xxl) {
      width: 280px;
      height: 193px;
    }
  }
}

// Hero Fragments Second Row
.c-hero__rows .c-hero__row:nth-child(2) {
  > .c-hero__fragment:first-child {
    @include bp(xxxl) {
      margin-right: 55px;
    }
  }

  > .c-hero__fragment:nth-child(2) {
    flex-shrink: 0;
  }

  // Second row image
  .c-hero__image-link {
    top: 10px;
    right: -10px;

    @include bp(sm) {
      right: 0;
      margin-left: 15px;
    }

    @include bp(lg) {
      margin-left: 38px;
    }
  }

  .field--name-field-hero-heading-image > figure {
    &::before {
      border-radius: 140px;
    }
  }

  // Second Row Image
  .field--name-field-hero-heading-image img {
    width: 128px;
    height: 75px;
    border-radius: 140px;

    @include bp(md) {
      width: 267px;
      height: 156px;
    }

    @include bp(xl) {
      width: 311px;
      height: 181px;
    }

    @include bp(xxl) {
      width: 388px;
      height: 216px;
    }
  }

  // Second row image overlay text
  .field--name-field-hero-heading-text {
    @include heading-5;
    display: none;
    max-width: 204px;
    color: $c-navy-blue;

    @include bp(xl) {
      display: block;
    }
  }
}

// Hero Fragments Third Row
.c-hero__rows .c-hero__row:nth-child(3) {
  margin-top: 22px;

  @include bp(sm2) {
    margin-top: 40px;
  }

  > .c-hero__fragment:first-child {
    @include bp(xxxl) {
      margin-right: 25px;
      margin-left: 80px;
    }
  }

  > .c-hero__fragment:nth-child(2) {
    @include bp(lg) {
      margin: 0 25px;
    }

    @include bp(xxxl) {
      margin-right: 90px;
    }
  }

  > .c-hero__fragment:nth-child(3) {
    display: none;

    @include bp(lg) {
      position: relative;
      display: block;
    }
  }

  // Third Row Image
  .field--name-field-hero-heading-image {
    margin-right: 15px;

    @include bp(lg) {
      margin-right: 0;
    }
  }

  // Third Row Image
  .field--name-field-hero-heading-image img {
    width: 139px;
    height: 80px;

    @include bp(md) {
      width: 245px;
      height: 135px;
    }

    @include bp(xl) {
      width: 358px;
      height: 206px;
    }

    @include bp(xxl) {
      width: 408px;
      height: 236px;
    }
  }

  // Third row image overlay text
  .field--name-field-hero-heading-text {
    @include description-text;
    display: none;
    max-width: 384px;
    color: $c-navy-blue;

    @include bp(lg) {
      display: block;
    }
  }
}

// Page Hero Fragment Heading text
.field--name-field-hero-heading-fragment {
  @include text-style-hero;
  color: $c-navy-blue;
  pointer-events: none;
}

// Page Hero Fragment Image
.c-hero .c-hero__image-link {
  position: relative;
  display: block;
  cursor: none;
}

.c-hero
  .c-hero__image-link:hover
  .field--name-field-hero-heading-image
  > figure::before,
.c-hero .c-hero__image-link:hover .c-hero__image-text,
.c-hero .c-hero__image-link:focus .c-hero__image-text {
  visibility: visible;
  opacity: 1;
}

.c-hero .c-hero__image-link:hover .c-hero__image-text {
  transition-delay: 0.2s;
}

.c-hero .c-hero__image-link > div {
  pointer-events: none;
}

.c-hero__content figure {
  margin: 0;
}

.c-hero__content .field--name-field-hero-heading-image > figure {
  position: relative;
  display: flex;

  @include bp(xl) {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.4s $t-cubic-easing, visibility 0.4s $t-cubic-easing;
      content: '';
    }
  }
}

// Hero Image Paragraph Text
.c-hero .c-hero__image-text {
  display: none;

  @include bp(xl) {
    @include heading-5;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 70%;
    color: $c-white;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s $t-cubic-easing, visibility 0.4s $t-cubic-easing;
  }
}

// Hero body
.c-hero__description {
  @include description-text;
  max-width: 85%;
  margin-top: 20px;
  color: $c-navy-blue;

  @include bp(md) {
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  @include bp(lg) {
    display: none;
  }
}

.c-hero__description p {
  margin: 0;
}

// Hero callout
.c-hero__callout {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  margin-top: 45px;

  @include bp(md) {
    justify-content: center;
  }

  @include bp(lg) {
    justify-content: flex-start;
  }

  @include bp(xl) {
    flex-direction: column;
    align-items: flex-start;
  }
}

// Main Callout
.c-hero__content > .c-hero__callout {
  gap: 30px;

  @include bp(xl) {
    display: none;
  }
}

// Cloned Callout
.c-hero__callout--fragment {
  display: none;

  @include bp(xl) {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}
