@use '@styles/helpers' as *;

// Component Header (Intro)
.c-resources__header {
  @include container($container-content);
}

// Component Title
.c-resources__header .c-resources__title {
  @include heading-1;
  margin-bottom: 40px;
  color: $c-navy-blue;

  @include bp(lg) {
    margin-bottom: 64px;
  }
}

// Component Description
.c-resources__header .c-resources__description {
  max-width: 745px;
  margin: 0;
  color: $c-navy-blue;
}

// Component Cards
.c-resources__cards {
  margin-top: 70px;

  @include bp(md) {
    @include container($container-content);
  }

  @include bp(lg) {
    margin-top: 90px;
  }
}

.c-resources__cards-grid {
  @include bp(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px 0;
    column-gap: 20px;
    row-gap: 40px;
  }

  @include bp(md) {
    column-gap: 25px;
    row-gap: 56px;
  }

  @include bp(lg) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 42px;
  }

  @include bp(xl) {
    column-gap: 25px;
    row-gap: 47px;
  }

  @include bp(xxl) {
    row-gap: 70px;
  }
}

.c-resources__card {
  position: relative;
  display: block;
  transition: transform 0.15s $t-cubic-easing;

  @include bp(md) {
    &:hover,
    &:focus-visible {
      transform: translate(0, -6px);
    }
  }
}

.c-resources__card:hover,
.c-resources__card:focus {
  .c-resources__card-hover-images figure:first-child {
    transform: translate(0, 15px) scale(0.95);
    opacity: 1;
  }
}

.c-resources__card:hover,
.c-resources__card:focus {
  .c-resources__card-hover-images figure:nth-child(2) {
    transform: translate(0, 40px) scale(0.85);
    opacity: 1;

    @include bp(lg) {
      transform: translate(0, 32px) scale(0.85);
    }

    @include bp(xl) {
      transform: translate(0, 40px) scale(0.85);
    }
  }
}

.c-resources__card figure {
  margin: 0;
}

.c-resources__card img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
}

.c-resources__card-hover-images {
  display: none;

  @include bp(md) {
    display: block;
  }

  figure {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 30px;
    opacity: 0;
    transition: transform 0.45s $t-cubic-easing, opacity 0.3s $t-cubic-easing;
    content: '';

    &:first-child {
      z-index: -1;
    }

    &:nth-child(2) {
      z-index: -2;
    }
  }
}

// Card Title
.c-resources__card-title {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9;
  padding: 12px 16px;
  color: $c-gray-blue;
  font-size: 18px;
  font-family: $font-family-monoscape;
  letter-spacing: 0.5px;

  // If blur is supported by the browser adjust text color

  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    color: $c-white;
  }

  &::before {
    @include backdrop-blur;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    content: '';
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($c-black, 0.15);
    border-radius: 100px;
    content: '';
  }
}

.c-resources__card-title span {
  position: relative;
  z-index: 9;
}

// Swiper pagination
.swiper-horizontal > .swiper-pagination-bullets {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin-top: 60px;
}
