@use '../settings/variables' as *;
@use './mixins' as *;

@mixin button {
  @include button-reset;
  position: relative;
  display: inline-flex;
  padding: 16px 20px;
  overflow: hidden;
  font-weight: 500;
  font-size: 14px;
  font-family: $font-family-sans;
  line-height: 1.125;
  text-decoration: none;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s ease;
  transition: color 0.25s ease-out, filter 0.25s ease-out;
  user-select: none;

  @include bp(lg) {
    padding: 20px 30px;
    font-size: 16px;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(1);
    transform-origin: 100% 50%;
    transition: transform 0.25s ease-out;
    content: '';

    @media (prefers-reduced-motion) {
      transition: none;
    }
  }

  &::before {
    transform: scaleX(0);
    transform-origin: 0% 50%;
  }

  &::after {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }

  &:hover::after,
  &:focus-visible::after {
    transform: scaleX(0);
  }

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

@mixin primary-button($background, $color, $hover-color, $hover-background) {
  color: $color;
  border: 1px solid $background;

  &::before {
    background: $hover-background;
  }

  &::after {
    background: $background;
  }

  &:hover,
  &:focus-visible {
    color: $hover-color;
  }

  // Icon version variation
  &.btn--icon {
    display: flex;
    gap: 12px;
    align-items: center;

    svg {
      color: $color;
      transition: color 0.25s ease-out;

      @media (prefers-reduced-motion) {
        transition: none;
      }
    }

    &:hover svg,
    &:focus-visible svg {
      color: $hover-color;
    }
  }
}

// Outline buttons
@mixin outline-button($background, $color, $hover-color) {
  color: $color;
  border: 1px solid $background;

  &::before {
    background: $background;
  }

  &::after {
    display: none;
  }

  &:hover,
  &:focus-visible {
    color: $hover-color;
  }

  // Icon version variation
  &.btn--icon {
    display: flex;
    gap: 12px;
    align-items: center;

    svg {
      color: inherit;
      transition: color 0.25s ease-out;
    }
  }
}

@mixin simple-button($background, $color, $hover-color) {
  background: $background;
  color: $color;
  &:hover {
    background: $background;
  }
}

@mixin small-button() {
  padding: 8px 10px;
  font-weight: normal;
  @include bp(lg) {
    padding: 10px 15px;
  }
}
