@use '../settings/variables' as *;
@use './mixins' as *;

@mixin heading-1 {
  font-weight: $font-weight-regular;
  font-size: 66px;
  line-height: 0.91;
  letter-spacing: -3px;

  @include bp(sm) {
    font-size: 82px;
    letter-spacing: -5px;
  }

  @include bp(md) {
    font-size: 102px;
    letter-spacing: -9px;
  }

  @include bp(lg) {
    font-size: 160px;
    letter-spacing: -12px;
  }

  @include bp(xl) {
    font-size: 200px;
    letter-spacing: -14px;
  }
}

@mixin heading-2 {
  font-weight: $font-weight-bold;
  font-size: 41px;
  line-height: 1;
  letter-spacing: -2px;

  @include bp(sm) {
    font-size: 51px;
    letter-spacing: -3px;
  }

  @include bp(md) {
    font-size: 64px;
    letter-spacing: -4px;
  }

  @include bp(lg) {
    font-size: 80px;
    letter-spacing: -5px;
  }

  @include bp(xl) {
    font-size: 100px;
    letter-spacing: -6.5px;
  }
}

@mixin heading-3 {
  font-weight: $font-weight-regular;
  font-size: 56px;
  line-height: 1;
  letter-spacing: -2px;
}

@mixin heading-4 {
  font-weight: $font-weight-medium;
  font-size: 40px;
  line-height: 1.125;
  letter-spacing: -2px;
}

@mixin heading-5 {
  font-weight: $font-weight-regular;
  font-size: 18px;
  font-family: $font-family-monoscape;
  line-height: 1.6;
}

@mixin heading-6 {
  font-weight: $font-weight-medium;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

// Paragraph text
@mixin description-text {
  font-weight: $font-weight-thin;
  font-size: 16px;
  line-height: 1.8;

  @include bp(lg) {
    font-size: 18px;
  }
}

// Intro Text
@mixin intro-text {
  font-weight: $font-weight-thin;
  font-size: 20px;
  line-height: 1.835;
  letter-spacing: -0.5px;

  @include bp(lg) {
    font-size: 24px;
  }
}

// Typography
@mixin text-style-h-1 {
  font-weight: 400;
  font-size: 12.5rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 181.5px;
  letter-spacing: -14px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-h-2 {
  font-weight: 700;
  font-size: 6.25rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 100px;
  letter-spacing: -6.5px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-h-3 {
  font-weight: 400;
  font-size: 3.5rem;
  font-family: 'Ubuntu';
  font-style: normal;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-h-4 {
  font-weight: 500;
  font-size: 2.5rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 45px;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-h-5-mono {
  font-weight: 400;
  font-size: 1.125rem;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  line-height: 30px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-h-6 {
  font-weight: 500;
  font-size: 0.875rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 22.5px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin text-style-h-7 {
  font-weight: 500;
  font-size: 1.625rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 36px;
  letter-spacing: -1px;
  text-transform: capitalize;
  text-decoration: none;
}

@mixin text-style-intro {
  font-weight: 300;
  font-size: 1.5rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 1.8;
  letter-spacing: -0.5px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-paragraph {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 36px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-quote {
  font-weight: 300;
  font-size: 2.5rem;
  font-family: 'Ubuntu';
  font-style: italic;
  line-height: 163%;
  letter-spacing: -0.37px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-button-text {
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Ubuntu';
  font-style: normal;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-mobile-h-1 {
  font-weight: 400;
  font-size: 4.688rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 79px;
  letter-spacing: -5px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-mobile-h-2 {
  font-weight: 700;
  font-size: 2.5rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 40px;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-mobile-h-3 {
  font-weight: 400;
  font-size: 2.625rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 48px;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-mobile-h-4 {
  font-weight: 500;
  font-size: 2rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 112.5%;
  letter-spacing: -2px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-mobile-h-5-mono {
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  line-height: 26px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-mobile-intro {
  font-weight: 300;
  font-size: 1.25rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 40px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-mobile-paragraph {
  font-weight: 300;
  font-size: 1rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 34px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-mobile-quote {
  font-weight: 300;
  font-size: 1.375rem;
  font-family: 'Ubuntu';
  font-style: italic;
  line-height: 163%;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-nav-primary-link {
  font-weight: 500;
  font-size: 0.812rem;
  font-family: 'Ubuntu';
  font-style: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin text-style-nav-secondary-link {
  font-weight: 500;
  font-size: 1.125rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 150%;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-nav-tertiary-link {
  font-weight: 400;
  font-size: 0.875rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 22.5px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-nav-primary-description {
  font-weight: 300;
  font-size: 1rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 32px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-nav-secondary-description {
  font-weight: 400;
  font-size: 0.875rem;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-nav-cta {
  font-weight: 500;
  font-size: 0.812rem;
  font-family: 'Ubuntu';
  font-style: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin text-style-nav-overview-link {
  font-weight: 400;
  font-size: 0.75rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 22.5px;
  letter-spacing: 0.25px;
  text-transform: none;
  text-decoration: none;
}

@mixin text-style-nav-breadcrumb {
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
}

@mixin text-style-nav-subnav-title {
  font-weight: 700;
  font-size: 0.75rem;
  font-family: 'Ubuntu';
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
}

// Responsive Typography

/* stylelint-disable scss/no-global-function-names */
$display-low: map-get($breakpoints, 'sm');
$display-high: map-get($breakpoints, 'xxl');
/* stylelint-enable scss/no-global-function-names */
$display-variance: ($display-high - $display-low);

// Footer Promo
$footer-promo-low: 75px;
$footer-promo-high: 244px;

// Hero
$hero-low: 84px;
$hero-high: 244px;

/**
 * Dynamic Text.
 * Accepts:
 * @param {String} $fl - The Lowest font size.
 * @param {String} $fh - The heighest font size.
 *
 * Usage:
 * .thing {
 *   @include dynamic-text(20px, 100px);
 * }
 */
@mixin dynamic-text($fl, $fh) {
  $text-ratio: calc(($fh - $fl) / ($display-variance));
  font-size: $fl;

  @include bp(sm) {
    font-size: calc(#{$text-ratio} * (100vw - #{$display-low}) + #{$fl});
  }

  @include bp(xxl) {
    font-size: $fh;
  }
}

@mixin text-style-footer-promo {
  @include dynamic-text($footer-promo-low, $footer-promo-high);
  font-weight: $font-weight-regular;
  line-height: 1;
  letter-spacing: -4px;

  @include bp(xxl) {
    letter-spacing: -14.8px;
  }
}

@mixin text-style-hero {
  @include dynamic-text($hero-low, $hero-high);
  font-weight: $font-weight-regular;
  line-height: 1;
  letter-spacing: -5px;

  @include bp(xl) {
    letter-spacing: -14.8px;
  }
}
