@use '@styles/helpers' as *;

.c-promo {
  @include container($container-content);
  padding-top: 120px;
  padding-bottom: 120px;
}

// Promo fragment alignment
.c-promo > .c-promo__inner > .field__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include bp(sm2) {
    align-items: center;
  }

  @include bp(md) {
    justify-content: center;
  }
}

.c-promo > .c-promo__inner > .field__items > .field__item {
  width: fit-content;

  &:first-child {
    width: 100%;

    @include bp(md) {
      text-align: center;
    }

    @include bp(lg) {
      text-align: center;
    }
  }

  &:nth-child(2) {
    margin-right: 10px;

    @include bp(lg) {
      margin-right: 50px;
    }

    figure {
      margin: 0;
    }

    img {
      width: 119px;
      height: 82px;

      @include bp(sm) {
        width: 149px;
        height: 102px;
      }

      @include bp(md) {
        width: 169px;
        height: 122px;
      }

      @include bp(lg) {
        width: 280px;
        height: 193px;
      }
    }
  }

  &:last-child {
    width: 100%;

    @include bp(md) {
      text-align: center;
    }

    @include bp(lg) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      text-align: start;
    }

    .c-promo__quote-wrapper {
      display: none;

      @include bp(lg) {
        position: relative;
        top: 20px;
        display: block;
        max-width: 362px;
        margin-right: 50px;
      }
    }
  }
}

// Promo fragment heading
.c-promo .c-promo__text {
  @include text-style-footer-promo;
  margin: 0;
  color: $c-white;
}

// Promo Quote
.c-promo > .c-promo__inner > .c-promo__quote-wrapper {
  margin-top: 45px;
  text-align: left;

  @include bp(sm2) {
    max-width: 60%;
  }

  @include bp(md) {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  @include bp(lg) {
    display: none;
    margin-top: 0;
  }
}

.c-promo__quote-wrapper .c-promo__quote {
  @include description-text;
  margin: 0;
  color: $c-white;

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

.c-promo__quote-wrapper .c-promo__author {
  display: block;
  margin-top: 15px;
  color: $c-white;
  font-weight: $font-weight-medium;
  font-style: normal;
}

// Promo Callout
.c-promo__cta {
  margin-top: 112px;

  @include bp(lg) {
    margin-top: 250px;
  }
}

.c-promo__cta > .field__items {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include bp(lg) {
    flex-direction: row;
    gap: 24px;
    justify-content: center;
  }
}

.c-promo__cta > .field__items > .field__item {
  @include bp(lg) {
    flex: 1;
    max-width: 640px;
  }
}

.c-promo__cta > .field__items > .field__item .component-cta,
.c-promo__cta > .field__items > .field__item .component-cta__content {
  height: 100%;
}

.c-promo__cta > .field__items > .field__item .component-cta__content {
  display: flex;
  flex-direction: column;
}

.c-promo__cta .c-promo__cta-heading {
  margin-bottom: 60px;
  color: $c-white;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -1.92px;

  @include bp(lg) {
    margin-bottom: 80px;
    font-size: 40px;
    letter-spacing: -2.4px;
    text-align: center;
  }
}

.c-promo__cta .btn {
  width: fit-content;

  @include bp(lg) {
    margin: auto auto 0;
  }
}
