<div class="nav__dropdown-cta">
  <div class="nav__dropdown-cta-title">
    {{ title }}
  </div>
  {% if description %}
    <div class="nav__dropdown-cta-desc">
      {{ description }}
    </div>
  {% endif %}
  {% if cta_url and cta_text %}
    <a href="{{ cta_url }}" class="nav__dropdown-cta-link">
      {{ cta_text }}
    </a>
  {% endif %}
</div>
