<div class="nav__dropdown-footer">

  {# Footer Title & CTA #}
  <div class="nav__dropdown-footer-info">
    {% if footer_title %}
      <p class="nav__dropdown-footer-info-title">
        {{ footer_title }}
      </p>
    {% endif %}
    {% if footer_cta_text and footer_cta_link %}
      <div class="nav__dropdown-footer-info-link">
        {{ source('@svgs/icon-' ~ footer_cta_icon ~ '.svg', { ignore_missing: true }) }}
        <a href="{{ footer_cta_link }}">
          {{ footer_cta_text }}
        </a>
      </div>
    {% endif %}
  </div>

  {# Footer Links #}
  {% if first_cta_link or second_cta_link %}
    <div class="nav__dropdown-footer-links">
      {% if first_cta_link and first_cta_text %}
        <div class="nav__dropdown-footer-link">
          {{ source('@svgs/icon-' ~ first_cta_icon ~ '.svg', { ignore_missing: true }) }}
          <a href="{{ first_cta_link }}">
            {{ first_cta_text }}
          </a>
        </div>
      {% endif %}
      {% if second_cta_link and second_cta_text %}
        <div class="nav__dropdown-footer-link">
          {{ source('@svgs/icon-' ~ second_cta_icon ~ '.svg', { ignore_missing: true }) }}
          <a href="{{ second_cta_link }}">
            {{ second_cta_text }}
          </a>
        </div>
      {% endif %}
    </div>
  {% endif %}

  {# Footer mobile view #}
  <div class="nav__dropdown-footer-mobile">
    {% if footer_cta_text and footer_cta_link %}
      {% include '@components/button/button.twig' with 
        {
          type: 'primary-blue',
          label: footer_cta_text,
          icon: footer_cta_icon,
          icon_position: 'before',
          link: footer_cta_link,
        }
      %}
    {% endif %}
    {% if first_cta_link and first_cta_text %}
      {% include '@components/button/button.twig' with 
        {
          type: 'outline-blue',
          label: first_cta_text,
          icon: first_cta_icon,
          icon_position: 'before',
          link: first_cta_link,
        }
      %}
    {% endif %}
    {% if second_cta_link and second_cta_text %}
      {% include '@components/button/button.twig' with 
        {
          type: 'outline-blue',
          label: second_cta_text,
          icon: second_cta_icon,
          icon_position: 'before',
          link: second_cta_link,
        }
      %}
    {% endif %}
  </div>
</div>
