<div class="nav__dropdown">
  <div class="nav__dropdown-inner">
    <div class="nav__dropdown-content">
      {# Call to Action #}
      {% if title or description or (cta_url and cta_text) %}
        {% include '@components/header/nav/dropdown/nav-dropdown-cta.twig' with 
          {
            title: title,
            description: description,
            cta_url: cta_url,
            cta_text: cta_text
          }
        %}
      {% endif %}

      {# Dropdown Groups #}
      <div class="nav__dropdown-groups" style="{{ '--group-count:' ~ count ~ ';' }}">
        {% for item in items %}
          {% set entity_id = item.original_link.pluginDefinition.metadata.entity_id %}
          {% set fields = entity_id ? drupal_entity('menu_link_content', entity_id, 'full', null, false)['#menu_link_content'] : '' %}
          {% set image_id = fields.field_link_image[0].target_id ?? null %}
          {% set image = image_id ? drupal_field('name', 'taxonomy_term', image_id)[0]['#context'].value : null %}
          {% include '@components/header/nav/dropdown/nav-dropdown-group.twig' with 
            {
              image: image|lower|replace({' ': '-'}),
              url: item.url,
              title: item.title,
              description: fields.field_summary_text[0].value,
              items: item.below,
            }
          %}
        {% endfor %}
      </div>
    </div>

    {# Dropdown Footer #}
    {% if footer_title or footer_cta_text or first_cta_text or second_cta_text %}
      {% include '@components/header/nav/dropdown/nav-dropdown-footer.twig' with 
        {
          footer_title: footer_title,
          footer_cta_text: footer_cta_text,
          footer_cta_link: footer_cta_link,
          footer_cta_icon: footer_cta_icon,
          first_cta_link: first_cta_link,
          first_cta_text: first_cta_text,
          first_cta_icon: first_cta_icon,
          second_cta_link: second_cta_link,
          second_cta_text: second_cta_text,
          second_cta_icon: second_cta_icon,
        }
      %}
    {% endif %}
  </div>
</div>
