{% set title_only = not description and not items %}

<div class="nav__dropdown-group{{ title_only ? ' nav__dropdown-group--title' }}">
  {# TODO add image/icon handling #}
  {% if image %}
    <div class="nav__dropdown-group-icon">
      <img src="{{ drupal_url(active_theme_path() ~ '/src/assets/images/menu/' ~  image ~ '.png') }}" alt=""/>
    </div>
  {% endif %}
  <div class="nav__dropdown-group-links">
    <a href="{{ url }}" class="nav__dropdown-group-link">
      {{ title }}
    </a>
    {% if description %}
      <div class="nav__dropdown-group-desc">
        {{ description }}
      </div>
    {% endif %}
    {% if items %}
      <nav class="nav__dropdown-group-children">
        <ul>
          {% for item in items %}
            {% set entity_id = item.original_link.pluginDefinition.metadata.entity_id %}
            {% set fields = entity_id ? drupal_entity('menu_link_content', entity_id, 'full', null, false)['#menu_link_content'] : '' %}
            {% set special_link = fields.field_special_link[0].value == '1' %}
            <li{% if special_link %} class="overview-link"{% endif %}>
              <span>{{ link(item.title, item.url) }}</span>
              {% if special_link %}
                <span class="overview-link__icon">
                  {{ source('@svgs/icon-arrow-right.svg') }}
                </span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </div>
  {% if items %}
    <button class="nav__dropdown-group-mobile-trigger" aria-label="{{ 'Open Submenu for ' ~ title }}">
      {{ source('@svgs/icon-caret-right.svg') }}
    </button>
  {% endif %}
</div>
