{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('drupalorg_theme/gradient-cta-bar') }}

{% set classes = ['c-gradient-cta-bar'] %}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('c-gradient-cta-bar__container') }}>
    {% block content %}
      <p class="c-gradient-cta-bar__text">
        {{- content.field_body[0]['#context'].value -}}
      </p>
      {% if content.field_image|render %}
        <div class="c-gradient-cta-bar__image">
          {{ content.field_image }}
        </div>
      {% endif %}
    {% endblock %}
  </div>
</section>
