{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('drupalorg_theme/statistics') }}

{% set classes = [
  'c-statistics'
] %}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('c-statistics__inner') }}>
    {% block content %}
      <div class="c-statistics__header">
        <div class="c-statistics__content">
          <h2 class="c-statistics__title">
            {{ content.field_heading[0]['#context'].value }}
          </h2>
          <p class="c-statistics__body">
            {{ content.field_body[0]['#context'].value }}
          </p>
          <div class="c-statistics__cta">
            {% include '@components/button/button.twig' with
              {
                type: 'primary-blue',
                label: content.field_cta_1[0]['#title'],
                link: content.field_cta_1[0]['#url'],
                icon: 'arrow-right',
              }
            %}
          </div>
        </div>
        <div class="c-statistics__stats">
          {% for statistic in statistics %}
            <div class="c-statistics__item">
              <div class="c-statistics__item-statistic">
                <p class="c-statistics__item-value">
                  {{- statistic.value -}}
                </p>
                {% if statistic.unit %}
                  <p class="c-statistics__item-unit">
                    {{- statistic.unit -}}
                  </p>
                {% endif %}
              </div>
              <p class="c-statistic__item-info">
                {{ statistic.info }}
              </p>
            </div>
          {% endfor %}
        </div>
        <div class="c-statistics__stats c-statistics__stats--mobile swiper">
          <div class="swiper-wrapper">
            {% for statistic in statistics %}
              <div class="swiper-slide">
                <div class="c-statistics__item">
                  <div class="c-statistics__item-statistic">
                    <p class="c-statistics__item-value">
                      {{- statistic.value -}}
                    </p>
                    {% if statistic.unit %}
                      <p class="c-statistics__item-unit">
                        {{- statistic.unit -}}
                      </p>
                    {% endif %}
                  </div>
                  <p class="c-statistic__item-info">
                    {{ statistic.info }}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="c-statistics__image">
        <div class="c-statistics__image-inner">
          {{ content.field_image }}
        </div>
        {% if content.field_text_reveal|render %}
          <div class="c-statistics__image-content">
            <p class="c-statistics__image-content-inner">
              {{ content.field_text_reveal[0]['#context'].value }}
            </p>
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </div>
</section>
