{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('drupalorg_theme/logos') }}

{% set classes = [
  'c-logo',
  content.field_solid_background['#items'].value == '1' ? 'c-logo--solid-bg'
] %}
{% set content_classes = [
  'c-logo__inner',
] %}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div{{ content_attributes.addClass(content_classes) }}>
    {% block content %}
      {{ content|without('field_solid_background') }}
    {% endblock %}
  </div>
</section>
