{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'g-elements__language-switcher',
] %}
{% set content_classes = [
  'g-elements__language-inner',
] %}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <header{{ title_attributes }}>{{ label }}</header>
  {% endif %}
  {{ title_suffix }}
  <div{{ content_attributes.addClass(content_classes) }}>
    <div class="g-elements__language-switcher-close">
      <div class="close-icon"></div>
    </div>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</section>
