{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('drupalorg_theme/why-drupal') }}

{% set classes = [
    'why-drupal',
] %}
{% set content_classes = [
  'why-drupal__inner',
] %}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div{{ content_attributes.addClass(content_classes) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</section>
