{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('drupalorg_theme/announcement-bar') }}

{% set classes = ['site-announcement', 'hidden'] %}
<section{{ attributes.addClass(classes) }} role="banner">
  {{ title_prefix }}
  {% if label %}
    <header{{ title_attributes }}>{{ label }}</header>
  {% endif %}
  {{ title_suffix }}
  {% if content.field_announcement_bar_cta|render %}
  <a href="{{ content.field_announcement_bar_cta[0]['#url'] }}" class="site-announcement__container">
  {% else %}
  <div class="site-announcement__container">
  {% endif %}
    <div class="site-announcement__inner">
      <div class="site-announcement__text">
        {% block content %}
          {{ content|without('field_announcement_bar_cta') }}
        {% endblock %}
      </div>
      <button class="site-announcement__close" aria-label="Dismiss Banner">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.9996 12.4189L2.12891 21.2896C1.73699 21.6815 1.10156 21.6815 0.709637 21.2896C0.317715 20.8976 0.317715 20.2622 0.709637 19.8703L9.58033 10.9996L0.709637 2.12891C0.317716 1.73699 0.317715 1.10156 0.709637 0.709637C1.10156 0.317715 1.73699 0.317715 2.12891 0.709637L10.9996 9.58033L19.8703 0.709637C20.2622 0.317716 20.8976 0.317715 21.2896 0.709637C21.6815 1.10156 21.6815 1.73699 21.2896 2.12891L12.4189 10.9996L21.2896 19.8703C21.6815 20.2622 21.6815 20.8976 21.2896 21.2896C20.8976 21.6815 20.2622 21.6815 19.8703 21.2896L10.9996 12.4189Z" fill="white"/>
        </svg>
      </button>
    </div>
  {% if content.field_announcement_bar_cta|render %}
  </a>
  {% else %}
  </div>
  {% endif %}
</section>
