{#
  The footer links were styled as a menu but we have the links coming from a
  block, so we are adapting the render array to the markup that is needed.
#}
{% set classes = [] %}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <header{{ title_attributes }}>{{ label }}</header>
  {% endif %}
  {{ title_suffix }}
  <div{{ content_attributes }}>
    {% block content %}
      <nav class="menu--footer">
        <ul>
          {% for item in content|children %}
            <li>
              <a href="{{ item['#links'][0].url }}">{{ item['#links'][0].title }}</a>
              <ul>
                {% for index,link in item['#links'] %}
                  {% if index > 0  %}
                    <li>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endblock %}
  </div>
</section>
