{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" rel="home" class="site-logo">
      <div class="site-logo__icon-wrapper">
        <div class="site-logo__icon swap--dark">
          <div class="swap__inner swap--dark">
            {{ source('/' ~ directory ~ '/assets/icons/logo-icon.svg', ignore_missing = true) }}
          </div>
        </div>
        <div class="site-logo__icon swap--light">
          <div class="swap__inner swap--light">
            {{ source('/' ~ directory ~ '/assets/icons/logo-icon.svg', ignore_missing = true) }}
          </div>
        </div>
      </div>
      <div class="site-logo__text">
        {# @TODO Replace with <img /> tag once folder architecture is setup #}
        <svg width="174" height="46" viewBox="0 0 174 46" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M81.643 9.11621H74.3642L74.3761 22.7356C74.3761 26.7155 72.6697 29.9353 68.6898 29.9353C64.7079 29.9353 62.9857 26.7155 62.9857 22.7356V9.12908H55.7256L55.7236 22.7356C55.7236 30.6004 60.7794 36.9746 68.6452 36.9746C76.509 36.9746 81.641 30.6004 81.641 22.7356L81.643 9.11621Z" fill="#064771"/>
          <path d="M154.522 0.817383H147.279V36.2723H154.522V0.817383Z" fill="#064771"/>
          <path d="M159.87 2.12499V0.851074H165.515V2.12499H163.45V7.73914H161.936V2.12499H159.87Z" fill="#064771"/>
          <path d="M168.437 0.851562L170.048 5.58749H170.067L171.59 0.851562H173.724V7.73921H172.306V2.85774H172.286L170.598 7.73921H169.431L167.743 2.90611H167.723V7.73921H166.306V0.851562H168.437Z" fill="#064771"/>
          <path d="M49.8049 8.82031C43.5613 7.3792 39.623 13.5821 39.4587 13.9147C39.3785 14.078 39.3756 14.1731 39.0994 14.1661C38.8707 14.1612 38.845 13.9147 38.845 13.9147L38.0701 9.16973H31.5811V36.2491H38.8549V21.5914C38.8549 20.3938 42.0796 14.6511 48.3291 16.1288C51.4895 16.8771 52.8306 18.2183 52.8306 18.2183V9.96846C51.8805 9.44649 50.8621 9.06003 49.8049 8.82031" fill="#064771"/>
          <path d="M98.5636 15.6815C99.9991 15.6812 101.403 16.1066 102.596 16.904C103.79 17.7013 104.72 18.8348 105.27 20.161C105.819 21.4872 105.963 22.9466 105.683 24.3545C105.403 25.7625 104.712 27.0558 103.697 28.0709C102.682 29.086 101.389 29.7772 99.9806 30.0572C98.5726 30.3372 97.1133 30.1934 95.7871 29.6439C94.4608 29.0944 93.3274 28.1639 92.53 26.9702C91.7327 25.7764 91.3072 24.3731 91.3075 22.9375C91.3081 21.0133 92.0728 19.168 93.4334 17.8073C94.7941 16.4467 96.6393 15.682 98.5636 15.6815ZM91.5134 45.168V35.4246L91.5154 35.4266L91.5174 31.7773C91.5174 31.7773 91.5283 31.4853 91.7915 31.4823C92.0261 31.4793 92.0786 31.6348 92.136 31.7773C92.6873 33.1501 95.72 38.3771 102.45 36.738C105.018 36.0137 107.333 34.5873 109.134 32.6193C110.936 30.6512 112.152 28.2196 112.647 25.5979C113.142 22.9762 112.895 20.2685 111.935 17.7792C110.975 15.29 109.339 13.1181 107.212 11.5078C105.085 9.89742 102.551 8.91255 99.8941 8.66395C97.2378 8.41535 94.5647 8.91286 92.1757 10.1005C89.7866 11.2882 87.7764 13.1189 86.371 15.3868C84.9657 17.6546 84.221 20.2696 84.2207 22.9375V45.168L91.5134 45.168Z" fill="#064771"/>
          <path d="M137.253 22.9374C137.253 24.3729 136.828 25.7762 136.031 26.9699C135.233 28.1636 134.1 29.0941 132.774 29.6436C131.448 30.1931 129.988 30.337 128.58 30.0571C127.172 29.7772 125.879 29.0861 124.864 28.0711C123.849 27.0561 123.158 25.7629 122.878 24.355C122.597 22.9471 122.741 21.4877 123.29 20.1615C123.84 18.8353 124.77 17.7018 125.964 16.9043C127.157 16.1068 128.561 15.6812 129.996 15.6813C131.92 15.6817 133.766 16.4463 135.127 17.8069C136.488 19.1676 137.252 21.013 137.253 22.9374V22.9374ZM137.046 36.2608H144.339V22.9374C144.339 20.2695 143.594 17.6546 142.189 15.3868C140.784 13.1191 138.774 11.2884 136.385 10.1007C133.996 8.91297 131.323 8.41539 128.667 8.66391C126.01 8.91242 123.476 9.89716 121.349 11.5074C119.222 13.1176 117.586 15.2894 116.626 17.7784C115.666 20.2675 115.419 22.9751 115.914 25.5967C116.408 28.2184 117.625 30.6499 119.426 32.618C121.227 34.5861 123.542 36.0125 126.109 36.7369C132.84 38.3769 135.872 33.1489 136.424 31.7771C136.481 31.6346 136.533 31.4792 136.768 31.4812C137.031 31.4851 137.042 31.7771 137.042 31.7771" fill="#064771"/>
          <path d="M10.7716 6.93938H7.8478V30.0616L10.8508 30.1388C17.0102 30.1388 20.9772 29.5786 20.9772 18.503C20.9772 7.88264 17.4754 6.93937 10.7716 6.93937V6.93938ZM8.79701 36.2042H0.523438V0.802734H9.40077C20.1498 0.802734 28.3026 2.77538 28.3026 18.503C28.3026 34.0801 19.6668 36.2042 8.79701 36.2042" fill="#064771"/>
        </svg>
      </div>
    </a>
  {% endif %}
{% endblock %}
