{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('drupalorg_theme/promo') }}

{% set classes = [
  'c-promo',
] %}

{% set content_classes = [
  'c-promo__inner',
] %}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <header{{ title_attributes }}>{{ label }}</header>
  {% endif %}
  {{ title_suffix }}
  <div{{ content_attributes.addClass(content_classes) }}>
    {% block content %}
      {{ content|without('field_cta', 'field_quote', 'field_quote_by') }}
      <div class="c-promo__quote-wrapper">
        <blockquote class="c-promo__quote">
          {{ content.field_quote|render|striptags|trim }}
        </blockquote>
        <cite class="c-promo__author">
          {{ content.field_quote_by }}
        </cite>
      </div>
      <div class="c-promo__cta">
        {{ content.field_cta }}
      </div>
    {% endblock %}
  </div>
</section>
