{{ attach_library('drupalorg_theme/featured-work') }}

{% set classes = [
    'c-featured-work',
] %}
{% set content_classes = [
  'c-featured-work__inner',
] %}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div{{ content_attributes.addClass(content_classes) }}>
    {% block content %}
      <div class="c-featured-work__intro">
        <h2 class="c-featured-work__title">
          {{ content.field_heading|render|striptags|trim }}
        </h2>
        <div class="c-featured-work__desc">
          <p class="intro-text">
            {{ content.body|render|striptags|trim }}
          </p>
          <div class="c-featured-work__callout">
            {% if content.field_cta_1|render %}
              {% include '@components/button/button.twig' with
                {
                  type: 'primary-blue',
                  label: content.field_cta_1[0]['#title'],
                  link: content.field_cta_1[0]['#url'],
                  icon: 'arrow-right',
                }
              %}
            {% endif %}
            {% if content.field_cta_2|render %}
              {% include '@components/button/button.twig' with
                {
                  type: 'text',
                  label: content.field_cta_2[0]['#title'],
                  link: content.field_cta_2[0]['#url'],
                }
              %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="c-featured-work__slides dark--left dark--right">
        {{ content.field_feature_work_case_study }}
      </div>
    {% endblock %}
  </div>
</section>
