{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('drupalorg_theme/callout') }}

{% set classes = [
  'c-callout',
  content.field_full_height['#items'].value == '1' ? 'c-callout--full-height'
] %}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div{{ content_attributes }}>
    {% block content %}
      {% if content.field_eyebrow|render %}
        <h5 class="c-callout__eyebrow" data-reveal="slide-up">
          {{ content.field_eyebrow }}
        </h5>
      {% endif %}
      <h2 class="c-callout__heading" data-reveal="slide-up">
        {% if highlight_heading %}
          {% set words = content.field_heading[0]['#context']['value']|split(' ') %}
          {% for word in words %}
            {% if word == highlight_heading %}
              <span class="highlighted-text">
                {{- word -}}
                {{ source('@svgs/highlight-circle.svg', { ignore_missing: true }) }}
              </span>
            {% else %}
              {{- word -}}
            {% endif %}
          {% endfor %}
        {% else %}
          {{ content.field_heading }}
        {% endif %}
      </h2>
      <div class="c-callout__body" data-reveal="slide-up" data-reveal-delay="250">
        {{ content.body }}
      </div>
      {% if content.field_cta_1|render or content.field_cta_2|render %}
        <div class="c-callout__cta-group" data-reveal="slide-up" data-reveal-delay="350">
          {% if content.field_cta_1|render %}
            {% include '@components/button/button.twig' with
              {
                type: 'primary-blue',
                label: content.field_cta_1[0]['#title'],
                link: content.field_cta_1[0]['#url'],
              }
            %}
          {% endif %}
          {% if content.field_cta_2|render %}
            {% include '@components/button/button.twig' with
              {
                type: 'text',
                label: content.field_cta_2[0]['#title'],
                link: content.field_cta_2[0]['#url'],
              }
            %}
          {% endif %}
        </div>
      {% endif %}
    {% endblock %}
  </div>
</section>
