{#
/**
 * @file
 * Theme override for a menu block.
 *
 */
#}

<nav role="navigation"{{ attributes|without('role', 'aria-labelledby').addClass('menu--footer') }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {# Menu. #}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
