{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('drupalorg_theme/resources') }}

{% set classes = [
  'c-resources'
] %}
{% set content_classes = [
  'c-resources__inner',
] %}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div{{ content_attributes.addClass(content_classes) }}>
    {% block content %}
      <div class="c-resources__header">
        <h2 class="c-resources__title">
          {{ content.field_heading|render|striptags|trim }}
        </h2>
        <p class="c-resources__description intro-text">
          {{ content.body|render|striptags|trim }}
        </h1>
      </div>
      <div class="c-resources__cards swiper">
        {{ content.field_resource_card }}
        <div class="swiper-pagination"></div>
      </div>
    {% endblock %}
  </div>
</section>
