{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}

{{ attach_library('drupalorg_theme/hero') }}

{% set classes = [
  'c-hero'
] %}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('c-hero__content') }}>
    {% block content %}
      <h1 class="visually-hidden">{{ content.field_heading|render|striptags|trim }}</h1>
      {{ content|without('field_heading', 'body', 'field_cta_1', 'field_cta_2') }}
      <div class="c-hero__description">
        {{ content.body }}
      </div>
      <div class="c-hero__callout">
        {% if content.field_cta_1|render %}
          {% include '@components/button/button.twig' with
            {
              type: 'primary-blue',
              label: content.field_cta_1[0]['#title'],
              link: content.field_cta_1[0]['#url'],
              icon: 'arrow-right',
            }
          %}
        {% endif %}
        {% if content.field_cta_2|render %}
          {% include '@components/button/button.twig' with
            {
              type: 'text',
              label: content.field_cta_2[0]['#title'],
              link: content.field_cta_2[0]['#url'],
            }
          %}
        {% endif %}
      </div>
    {% endblock %}
  </div>
</section>
