{#
/**
 * @file
 * Theme override to display a block.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('drupalorg_theme/people-grid') }}

{% set classes = ['people-grid'] %}

<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <header{{ title_attributes }}>{{ label }}</header>
  {% endif %}
  {{ title_suffix }}
  <div{{ content_attributes }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</section>
