{#
/**
 * @file
 * Theme override for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 */
#}
{%
  set classes = [
    'block',
    'block-menu',
    'navigation',
    'menu--' ~ derivative_plugin_id|clean_class,
  ]
%}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<div class="site-nav">
  <nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
    {# Label. If not displayed, we still provide it for screen readers. #}
    {% if not configuration.label_display %}
      {% set title_attributes = title_attributes.addClass('visually-hidden') %}
    {% endif %}
    {{ title_prefix }}
    <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
    {{ title_suffix }}

    {# Menu. #}
    {% block content %}
      {{ content }}
    {% endblock %}
  </nav>
</div>
<div class="site-header__links-wrapper">
  <div class="site-header__links site-header__links--global">
    <a href="#" class="site-header__search">
      {{ source('/' ~ directory ~ '/assets/icons/search.svg', ignore_missing = true) }}
    </a>
    <a href="#" class="site-header__user">
      {{ source('/' ~ directory ~ '/assets/icons/user.svg', ignore_missing = true) }}
    </a>
    <div class="site-header__floating-links">
      <div class="site-header__motion-wrapper">
        <div class="site-header__motion swap swap--dark">
          <div class="swap__inner swap--dark">
            <button class="site-header__motion-btn swap swap--dark">
              <div class="site-header__motion-pause">
                {{ source('/' ~ directory ~ '/assets/icons/pause.svg', ignore_missing = true) }}
              </div>
              <div class="site-header__motion-play">
                {{ source('/' ~ directory ~ '/assets/icons/play.svg', ignore_missing = true) }}
              </div>
              <span>{{ 'Pause Motion'|t }}</span>
            </button>
          </div>
        </div>
        <div class="site-header__motion swap swap--light">
          <div class="swap__inner">
            <button class="site-header__motion-btn">
              <div class="site-header__motion-pause">
                {{ source('/' ~ directory ~ '/assets/icons/pause.svg', ignore_missing = true) }}
              </div>
              <div class="site-header__motion-play">
                {{ source('/' ~ directory ~ '/assets/icons/play.svg', ignore_missing = true) }}
              </div>
              <span>{{ 'Pause Motion'|t }}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="site-header__callout">
        <div class="site-header__btn swap swap--dark">
          <div class="swap__inner swap--dark">
            <a href="#" class="btn btn--icon btn--primary-blue">
              <span class="btn__text">
                {{ 'Try Drupal'|t }}
              </span>
              <span class="btn__icon">
                {{ source('/' ~ directory ~ '/assets/icons/arrow-right.svg', ignore_missing = true) }}
              </span>
            </a>
          </div>
        </div>
        <div class="site-header__btn swap swap--light">
          <div class="swap__inner">
            <a href="#" class="btn btn--icon btn--primary-light">
              <span class="btn__text">
                {{ 'Try Drupal'|t }}
              </span>
              <span class="btn__icon">
                {{ source('/' ~ directory ~ '/assets/icons/arrow-right.svg', ignore_missing = true) }}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-header__links site-header__links--mobile">

    <div class="site-header__globe-wrapper">
      <button class="site-header__globe swap--dark">
        <div class="swap__inner swap--dark">
          {{ source('/' ~ directory ~ '/assets/icons/globe.svg', ignore_missing = true) }}
        </div>
      </button>
      <button class="site-header__globe swap--light">
        <div class="swap__inner swap--light">
          {{ source('/' ~ directory ~ '/assets/icons/globe.svg', ignore_missing = true) }}
        </div>
      </button>
    </div>

    <div class="site-header__mobile-menu-wrapper">
      <button class="site-header__mobile-menu swap--dark">
        <div class="swap__inner swap--dark">
          {{ source('/' ~ directory ~ '/assets/icons/hamburger-menu.svg', ignore_missing = true) }}
        </div>
      </button>
      <button class="site-header__mobile-menu swap--light">
        <div class="swap__inner swap--light">
          {{ source('/' ~ directory ~ '/assets/icons/hamburger-menu.svg', ignore_missing = true) }}
        </div>
      </button>
    </div>

  </div>
</div>
