{#
/**
 * @file
 * Theme override for a field.
 *
 * @see template_preprocess_field()
 */
#}

{% if multiple %}
  <div{{ attributes.addClass('c-hero__rows') }}>
    {% for row in items|batch(3) %}
      <div class="c-hero__row">
        {% for item in row %}
          <div{{ item.attributes.addClass('c-hero__fragment') }}>{{ item.content }}</div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% else %}
  {% for item in items %}
    <div{{ attributes.addClass(classes, 'c-hero__fragment') }}>{{ item.content }}</div>
  {% endfor %}
{% endif %}
