{#
/**
 * @file
 * Theme override for a field.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div class="why-drupal__inner-left">
      <div class="why-drupal__bullets">
        {% for title in slide_titles %}
          <button data-slide="{{ loop.index }}" class="why-drupal__bullet{% if loop.index == 1 %} control-active{% endif %}">
            <span>{{ title.value }}</span>
          </button>
        {% endfor %}
      </div>
      <div class="why-drupal__text-slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for item in items %}
              <div data-slide="{{ loop.index }}" class="why-drupal__text-content swiper-slide{% if loop.index == 1 %} slide-active{% endif %}">
                <h2 class="why-drupal__slide-title">
                  {{ slide_titles[loop.index - 1].value }}
                </h2>
                <p class="why-drupal__slide-desc">
                  {{ slide_descriptions[loop.index - 1].value|render|striptags }}
                </p>
                <div class="why-drupal__slide-cta">
                  {% if slide_landing_text[loop.index - 1] %}
                    {% include '@components/button/button.twig' with 
                      {
                        type: 'primary-blue',
                        label: slide_landing_text[loop.index - 1],
                        link: slide_landing_url[loop.index - 1],
                        icon: 'arrow-right',
                      }
                    %}
                  {% endif %}

                  {% if slide_documentation_text[loop.index - 1] %}
                    {% include '@components/button/button.twig' with 
                      {
                        type: 'text',
                        label: slide_documentation_text[loop.index - 1],
                        link: slide_documentation_url[loop.index - 1],
                      }
                    %}
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="why-drupal__inner-right">
      <div class="why-drupal__image-slider dark--right dark--left--mobile">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for media in slide_images %}
              <div class="why-drupal__image-content swiper-slide">
                <div class="why-drupal__image-inner" data-swiper-parallax="40%">
                  {{ media }}
                  {% if slide_case_study_text[loop.index - 1] %}
                    <div class="why-drupal__image-case-study">
                      {% include '@components/button/button.twig' with 
                        {
                          type: 'text',
                          label: slide_case_study_text[loop.index - 1],
                          link: slide_case_study_url[loop.index - 1],
                        }
                      %}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
