<div class="site-branding">
  <a href="{{ path('<front>') }}" aria-label="{{ 'Drupal Logo'|t }}">
    <div class="site-branding__icon">
      {{ source('@svgs/logo.svg') }}
    </div>
    <div class="site-branding__text">
      {{ source('@svgs/logo-typography.svg') }}
    </div>
  </a>
</div>
