<header class="site-header">
  <div class="site-header__container">
    {# Branding #}
    {% include '@components/header/branding.twig' %}

    {# Main Navigation #}
    {% include '@components/header/nav/nav.twig' %}

    {# Header Buttons/Links #}
    {% include '@components/header/header-buttons.twig' %}
  </div>

  {# Search #}
  {% include '@components/header/search.twig' %}
</header>
