<div class="site-header__links">
  {# Search #}
  <button class="site-header__search" aria-label="{{ 'Open Search Box'|t }}" aria-expanded="false">
    <div class="search-icon search-icon--desktop">
      <div class="search-icon__circle"></div>
      <div class="search-icon__sticks"></div>
    </div>
  </button>

  {# User #}
  <a href="/user" class="site-header__user" aria-label="{{ logged_in ? 'See your profile'|t : 'Click to login or create account'|t }}">
    {{ source('@svgs/icon-user.svg') }}
  </a>

  {# Motion #}
  <button class="site-header__motion" aria-label="{{ 'Pause Motion'|t }}">
    <div class="site-header__motion-pause">
      {{ source('@svgs/icon-pause.svg') }}
    </div>
    <div class="site-header__motion-play">
      {{ source('@svgs/icon-play.svg') }}
    </div>
    <span>{{ 'Pause Motion'|t }}</span>
  </button>

  {# CTA #}
  {# TODO dynamic link/label #}
  <div class="site-header__callout">
    {% include '@components/button/button.twig' with
      {
        type: 'primary-blue',
        label: 'Try Drupal',
        icon: 'arrow-right',
        link: '/try-drupal',
      }
    %}
  </div>

  {# Language Switcher #}
{#  <button class="site-header__globe" aria-label="{{ 'Open Language Selector'|t }}">#}
{#    {{ source('@svgs/icon-globe-language.svg') }}#}
{#  </button>#}

  {# Hamburger Menu #}
  <button class="site-header__menu-trigger" aria-expanded="false" aria-label="{{ 'Open Mobile Navigation'|t }}">
    {{ source('@svgs/icon-hamburger-menu.svg') }}
  </button>
</div>
