{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  https://twig.symfony.com/doc/3.x/tags/macro.html
#}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('nav__list', 'nav__list--level-0') }}>
    {% else %}
      <ul class="nav__list nav__list--level-{{ menu_level }}">
    {% endif %}
    {% for item in items %}
      {% set classes = [
        'nav__item',
        'nav__item--level-' ~ menu_level,
        'nav__item-label--' ~ item.title|clean_class,
        item.is_expanded ? 'nav__item--expanded',
        item.in_active_trail ? 'nav__item--active-trail',
      ] %}
      {% set fields = '' %}
      {% set entity_id = item.original_link.pluginDefinition.metadata.entity_id %}
      {% if entity_id %}
        {% set fields = drupal_entity('menu_link_content', entity_id, 'full', null, false)['#menu_link_content'] %}
      {% endif %}
      {% set bordered_link = fields.field_bordered_link[0].value == '1' %}
      <li class="{{ classes|join(' ')|trim }}">
        <div class="nav__link">
          {% if bordered_link %}
            {% set bordered_link_icon_id = fields.field_bordered_link_icon[0].target_id ?? null %}
            {% set icon = bordered_link_icon_id ? drupal_field('name', 'taxonomy_term', bordered_link_icon_id)[0]['#context'].value : null %}
            {% include '@components/button/button.twig' with 
              {
                type: 'outline-rounded',
                label: item.title,
                icon: icon ? icon|lower|replace({' ': '-'}),
                link: item.url,
              }
            %}
          {% else %}
            {{ link(item.title, item.url) }}
          {% endif %}
          {% if item.below %}
            <button class="nav__link-caret" aria-label="{{ 'Open Submenu for ' ~ item.title }}">
              {{ source('@svgs/icon-caret-right.svg') }}
            </button>
          {% endif %}
        </div>
        {% if item.below %}
          {% set count = 1 %}
          {% if fields.field_title.value %}
            {% set count = item.below|length > 2 ? 2 : item.below|length %}
          {% elseif item.below|length >= 3 %}
            {% set count = 3 %}
          {% else %}
            {% set count = item.below|length %}
          {% endif %}
          {% set footer_link_icon_id = fields.field_footer_cta_icon[0].target_id ?? null %}
          {% set footer_first_icon_id = fields.field_footer_first_link_icon[0].target_id ?? null %}
          {% set footer_second_icon_id = fields.field_footer_second_link_icon[0].target_id ?? null %}
          {% set icon = footer_link_icon_id ? drupal_field('name', 'taxonomy_term', footer_link_icon_id)[0]['#context'].value : null %}
          {% set first_icon = footer_first_icon_id ? drupal_field('name', 'taxonomy_term', footer_first_icon_id)[0]['#context'].value : null %}
          {% set second_icon = footer_second_icon_id ? drupal_field('name', 'taxonomy_term', footer_second_icon_id)[0]['#context'].value : null %}
          {% include '@components/header/nav/dropdown/nav-dropdown.twig' with { 
            count: count,
            title: fields.field_title[0].value,
            description: fields.field_description[0].value,
            cta_url: fields.field_cta[0].uri,
            cta_text: fields.field_cta[0].title,
            footer_title: fields.field_footer_title[0].value,
            footer_cta_icon: icon|lower|replace({' ': '-'}),
            footer_cta_link: fields.field_footer_cta[0].uri,
            footer_cta_text: fields.field_footer_cta[0].title,
            first_cta_link: fields.field_footer_first_link[0].uri,
            first_cta_text: fields.field_footer_first_link[0].title,
            first_cta_icon: first_icon|lower|replace({' ': '-'}),
            second_cta_link: fields.field_footer_second_link[0].uri,
            second_cta_text: fields.field_footer_second_link[0].title,
            second_cta_icon: second_icon|lower|replace({' ': '-'}),
            items: item.below,
          } %}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{{ menus.menu_links(items, attributes, 0) }}
