<div class="site-header__search-container">
  <div class="site-header__search-inner">
    {% block search %}
      <form class="c-search c-search--desktop" action="/search">
        <input type="text" id="search" name="key" placeholder="{{ 'What are you searching for...'|t }}">
        <button type="submit" value="Submit">
          {{ source('@svgs/icon-search.svg') }}
        </button>
      </form>
    {% endblock %}
  </div>
</div>
