@use '@styles/helpers' as *;

.c-statistics {
  margin: 112px 0;

  @include bp(lg) {
    // margin: 280px 0;
  }
}

.c-statistics__header {
  @include container($container-content);
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include bp(lg) {
    align-items: flex-start;
  }

  @include bp(xl) {
    flex-direction: row;
    align-items: center;
  }
}

.c-statistics__title {
  max-width: 870px;
  margin: 0;
  color: $c-navy-blue;
}

.c-statistics__body {
  @include intro-text;
  max-width: 740px;
  margin: 28px 0 0;
  color: $c-navy-blue;
}

.c-statistics__cta {
  width: fit-content;
  margin-top: 60px;
}

// Statistics
.c-statistics__stats {
  color: $c-navy-blue;

  @include bp(lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}

.c-statistics__stats:not(.c-statistics__stats--mobile) {
  @include bp(lg, 'max') {
    display: none;
  }
}

.c-statistics__stats.c-statistics__stats--mobile {
  width: 100%;

  @include bp(lg) {
    display: none;
  }
}

.c-statistics__item {
  display: flex;
  flex-direction: column;

  @include bp(lg) {
    align-items: center;
  }
}

.c-statistics__item-value,
.c-statistics__item-unit {
  display: inline;
  margin: 0;
}

.c-statistics__item-value {
  font-weight: 500;
  font-size: 100px;
  font-style: normal;
  line-height: 1;
  letter-spacing: -6px;

  @include bp(lg) {
    line-height: 40px;
    text-align: center;
  }
}

.c-statistics__item-unit {
  font-weight: 500;
  font-size: 30px;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0.3px;
}

.c-statistic__item-info {
  @include text-style-h-5-mono;
  max-width: 208px;
  margin: 5px 0 0;
  color: $c-navy-blue;

  @include bp(lg) {
    text-align: center;
  }
}

// Image
.c-statistics__image figure {
  margin: 0;
}

.c-statistics__image {
  position: relative;
  height: auto;
  margin-top: 30px;
  overflow: hidden;

  @include bp(lg) {
    height: 120vh;
    margin-top: 200px;
  }

  .field--type-image {
    transition: clip-path 0.5s cubic-bezier(0.34, 0.615, 0.35, 0.9);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s cubic-bezier(0.34, 0.615, 0.35, 0.9);
  }
}

.c-statistics__image-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include bp(lg) {
    position: relative;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: $c-black;
    opacity: var(--overlay-opacity, 0.3);
    transition: opacity 0.5s cubic-bezier(0.34, 0.615, 0.35, 0.9);
    content: '';
  }
}

.c-statistics__image-inner .field,
.c-statistics__image-inner .media,
.c-statistics__image-inner .field__item {
  height: 100%;
}

.c-statistics__image-content {
  position: relative;
  z-index: 99;
  max-width: 600px;
  margin: 0 auto;
  padding: 106px 30px;
  text-align: center;
  transform: unset;

  @include bp(lg) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1050px;
    padding: 0;
    transform: translate(-50%, -50%);
  }
}

.c-statistics__image-content-inner {
  margin: 0;
  color: $c-white;
  font-weight: $font-weight-regular;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: -1px;

  @include bp(lg) {
    @include data-reveal(50%, 0);
    font-size: 70px;
    line-height: 85px;
    letter-spacing: -3px;
  }
}

.content-visible .c-statistics__image-content-inner {
  transform: translateY(0) skewY(0);
  visibility: visible;
  opacity: 1;
}

// Swiper Pagination
.c-statistics .swiper-horizontal > .swiper-pagination-bullets {
  justify-content: flex-start;
}
