@use '@styles/helpers' as *;

.c-gradient-cta-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgb(182, 143, 252);
  background: linear-gradient(
    4deg,
    rgba(182, 143, 252, 1) 0%,
    rgba(225, 95, 252, 1) 13%,
    rgba(164, 79, 252, 1) 36%,
    rgba(101, 86, 252, 1) 48%,
    rgba(74, 110, 252, 1) 60%,
    rgba(95, 153, 252, 1) 73%,
    rgba(95, 153, 252, 1) 90%,
    rgba(205, 235, 255, 1) 100%
  );
}

.c-gradient-cta-bar__container {
  @include container;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @include bp(lg) {
    flex-direction: row;
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.c-gradient-cta-bar__text {
  display: block;
  margin: 0 0 30px;
  color: $c-white;
  font-weight: $font-weight-thin;
  font-size: 32px;
  line-height: 1.375;
  text-align: center;

  @include bp(lg) {
    margin: 0 30px 0 0;
    text-align: left;
  }
}

.c-gradient-cta-bar__image figure {
  display: flex;
  margin: 0;
}

.c-gradient-cta-bar__image img {
  width: auto;
  max-width: 100%;
  height: 70px;
}
