<div class="nav__breadcrumbs">
  <ul class="nav__breadcrumbs-inner">
    <li class="nav__breadcrumb-level nav__breadcrumbs-level-1">
      <button class="nav__breadcrumb-trigger">
        {{ source('@svgs/icon-caret-left.svg') }}
      </button>
    </li>
    <li class="nav__breadcrumb-level nav__breadcrumbs-level-2">
      <button class="nav__breadcrumb-trigger">
        {{ source('@svgs/icon-caret-left.svg') }}
      </button>
    </li>
  </ul>
</div>
