<div class="nav__header">
  <button class="nav__close-icon" aria-label="{{ 'Close mobile navigation'|t }}"></button>
  <button class="nav__search">
    <div class="search-icon search-icon--mobile" aria-label="{{ 'Open Search Box'|t }}" aria-expanded="false">
      <div class="search-icon__circle"></div>
      <div class="search-icon__sticks"></div>
    </div>
  </button>
  {% block nav_search %}
    <form class="c-search c-search--mobile" action="/search">
      <input type="text" id="search" name="key" placeholder="{{ 'What are you searching for...'|t }}">
      <button type="submit" value="Submit">
        {{ source('@svgs/icon-search.svg') }}
      </button>
    </form>
  {% endblock %}
</div>
