<div class="nav__footer">
  <a href="/user" class="nav__user" aria-label="{{ logged_in ? 'See your profile'|t : 'Click to login or create account'|t }}">
    {{ source('@svgs/icon-user.svg') }}
    <span>{{ logged_in ? 'Your profile'|t : 'Login / Create Account'|t }}</span>
  </a>
  {# TODO dynamic label/link #}
  {% include '@components/button/button.twig' with
    {
      type: 'primary-blue',
      label: 'Try Drupal',
      icon: 'arrow-right',
      link: '/try-drupal',
    }
  %}
</div>
