<div class="site-nav enable-motion">
  <nav class="nav">
    <div class="nav__inner">
      {# Mobile Header #}
      {% include '@components/header/nav/nav-mobile-header.twig' %}

      {# Mobile Breadcrumbs #}
      {% include '@components/header/nav/nav-mobile-breadcrumbs.twig' %}

      {# Menu #}
      {% include '@components/header/menu.twig' with
        {
          attributes: create_attribute(),
          items: primary_items
        }
      %}

      {# Mobile Footer #}
      {% include '@components/header/nav/nav-mobile-footer.twig' %}
    </div>
  </nav>
</div>
