// Colors variables
// Color variables should start with 'c-'
$c-blue: #009cde;
$c-light-blue: #53b0eb;
$c-light-navy-blue: #0d7dc1;
$c-dark-blue: #0678be;
$c-navy-blue: #064771;
$c-dark-navy: #0d375f;
$c-pale-blue: #eaf3ff;
$c-gray-blue: #697b98;

$c-pale-gray: #f6f6f2;
$c-gray: #666;
$c-gray-mid: #8f8f8f;
$c-dark-gray: #222;

$c-light-green: #e6fcb6;
$c-green: #397618;
$c-medium-green: #96bc44;

$c-black: #000;
$c-white: #fff;

// Status messages.
$c-info: #CCEDF9;
$c-status: #CCEDF9;
$c-alert: #F46351;
$c-warning: #FFC423;

// Font-related variables
// Font variables should start with 'font-'
$font-family-serif: serif;
$font-family-sans: 'Ubuntu', sans-serif;
$font-family-monoscape: 'Ubuntu Mono', monospace;

// Font weights
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-black: 700;
$font-weight-xblack: 900;

// Breakpoint variables
// Used in bp mixin in _mixins.scss
$breakpoints: (
  sm: 480px,
  sm2: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xl2: 1342px,
  xxl: 1440px,
  xxxl: 1600px,
  xxxl2: 1800px,
  max: 1920px,
);

// Containers
$container-padding-m: 30px; // Global container mobile padding

// Default container being default content padding
// @TODO Add different variations for containers
$container-default: 'default';
$container-content: 'content';

$containers: (
  $container-default: (
    lg: 50px,
  ),
  $container-content: (
    lg: 50px,
    xxl: 205px,
  ),
);

// Tranitions
$t-cubic-easing: cubic-bezier(0.34, 0.615, 0.35, 0.9);
$t-cubic-easing-reveal: cubic-bezier(0, 0.615, 0.35, 0.9);
$t-cubic-easing-slide: cubic-bezier(0.67, 0.26, 0.27, 0.85);
$t-opacity-vis: opacity 0.6s $t-cubic-easing, visibility 0.6s $t-cubic-easing;
