@use '@styles/helpers' as *;

// Logo Component
.c-logo {
  margin-top: 80px;

  @include bp(lg) {
    margin-top: 150px;
  }
}

.c-logo--solid-bg {
  background: $c-dark-navy;
}

.c-logo__inner {
  @include container($container-content);
}

.c-logo .field--name-field-description {
  @include text-style-paragraph;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  color: $c-navy-blue;

  @include bp(md) {
    @include intro-text;
    max-width: 740px;
    text-align: center;
  }
}

.c-logo--solid-bg .field--name-field-description {
  color: $c-white;
}

.c-logo__inner {
  @include container($container-content);
}

.c-logo__inner > .field__items {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.c-logo__inner > .field__items > .field__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 60px);

  @include bp(sm2) {
    justify-content: center;
    width: auto;
  }

  @include bp(lg) {
    flex: 1;
  }
}

.c-logo__inner > .field__items > .field__item div,
.c-logo__inner > .field__items > .field__item a {
  width: 100%;
}

.c-logo__inner .field__item figure {
  width: 100%;
  margin: 0;
}

.c-logo__inner .field__item figure img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
