@use '@styles/helpers' as *;

.site-footer {
  margin-top: 250px;
  background: $c-dark-navy;
}

.menu--footer {
  @include container;
  padding-top: 120px;
  padding-bottom: 90px;

  @include bp(xxl) {
    @include container($container-content);
  }
}

// Footer global
.menu--footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu--footer ul li a {
  @include underline($c-white, 1px, 5px);
  color: $c-white;
  text-decoration: none;
}

// Level 0
.menu--footer > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 80px;

  @include bp(md) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include bp(lg) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.menu--footer > ul > li {
  padding-right: 20px;

  @include bp(lg) {
    padding-right: 40px;
  }
}

.menu--footer > ul > li > a {
  margin-bottom: 50px;
  font-weight: $font-weight-medium;
}

// Level 1
.menu--footer > ul > li > ul {
  margin-top: 50px;
}

.menu--footer > ul > li > ul li {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.menu--footer > ul > li > ul li a {
  font-weight: $font-weight-thin;
}
