@use '@styles/helpers' as *;

.site-announcement {
  position: relative;
  background: $c-light-navy-blue;
  transition: opacity 0.4s $t-cubic-easing, visibility 0.4s $t-cubic-easing,
    margin 0.4s $t-cubic-easing;

  .title {
    padding-top: 15px;
    color: $c-white;
    text-align: center;
    @include heading-4;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 100%;
    background-image: url('../../assets/svgs/ellipse.svg');
    background-repeat: no-repeat;
    content: '';

    @include bp(md) {
      left: 110px;
    }
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 94px;
    height: 45px;
    background-image: url('../../assets/svgs/ellipse-small.svg');
    background-repeat: no-repeat;
    content: '';
  }
}

.site-announcement__container {
  @include container;
  display: block;
  height: 100%;
  text-decoration: none;
}

.site-announcement__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 15px 0;
}

.site-announcement__text {
  @include text-clamp(2);
  padding-right: 70px;
  color: $c-white;
  line-height: 1.6;
  letter-spacing: -0.5px;

  @include bp(md) {
    @include text-clamp(1);
    line-height: 2.25;
  }

  @include bp(xl) {
    padding: 0 100px;
  }
}

.site-announcement__text span,
.site-announcement__text strong {
  font-weight: $font-weight-black;
}

.site-announcement__text p {
  margin: 0;
  font-size: 16px;
}

.site-announcement__close {
  position: absolute;
  right: 0;
  z-index: 9;
  display: flex;
  background: transparent;
  border: 0;
  cursor: pointer;
}
