@use '@styles/helpers' as *;

.c-featured-work__intro {
  @include container($container-content);
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;

  @include bp(lg) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 200px;
  }
}

.c-featured-work__title {
  @include heading-1;
  margin: 0;
  color: $c-navy-blue;

  @include bp(lg) {
    margin-right: 50px;
  }
}

.c-featured-work__desc {
  align-self: flex-end;
  justify-self: flex-start;
  margin-top: 40px;

  @include bp(lg) {
    max-width: 615px;
    margin-top: 0;
  }
}

.c-featured-work__desc .intro-text {
  margin: 0;
  color: $c-navy-blue;
}

.c-featured-work__desc .c-featured-work__callout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin-top: 40px;

  @include bp(sm2) {
    flex-direction: row;
    align-items: center;
  }

  @include bp(lg) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 90px;
  }

  @include bp(xl2) {
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
  }
}

.c-featured-work__callout .btn {
  &:not(:last-child) {
    margin-bottom: 30px;

    @include bp(sm2) {
      margin-right: 30px;
      margin-bottom: 0;
    }

    @include bp(lg) {
      margin-right: 0;
      margin-bottom: 30px;
    }

    @include bp(xl2) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

// Featured work slides
.c-featured-work__slide {
  position: relative;
  height: 100vh;

  &.scrolltrigger-active {
    &.active {
      height: 100vh;
    }
  }
}

.c-featured-work__slide-inner {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.c-featured-work__slide-background {
  height: 100%;

  div,
  figure {
    height: 100%;
  }
}

.c-featured-work__slide-inner .field--name-field-case-study-background {
  figure {
    margin: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.c-featured-work__slide-overlay {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100vh;
  background: $c-black;
  opacity: 0.1;

  .scrolltrigger-active & {
    opacity: 1;
  }
}

.c-featured-work__slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  width: calc(100% - 60px);
  color: $c-white;
  text-align: center;
  transform: translate(-50%, -50%);
}

.c-featured-work__slide-logo {
  figure {
    width: 250px;
    height: 94px;
    margin: 0 auto;

    @include bp(lg) {
      width: 400px;
      height: 150px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Update classname
.c-featured-work__slide-body {
  @include text-style-intro;
  max-width: 815px;
  margin: 0 auto;
  margin-top: 20px;

  @include bp(lg) {
    margin-top: 45px;
  }

  .scrolltrigger-active & {
    @include data-reveal(100%, 1deg);
  }
}

.c-featured-work__slide-content .c-featured-work__slide-cta {
  margin-top: 50px;

  .scrolltrigger-active & {
    @include data-reveal(100%, 0);
    transition-delay: 0.3s;
  }
}

.c-featured-work__slide-content .c-featured-work__slide-cta .btn {
  font-size: 16px;
}

/* stylelint-disable declaration-no-important */
.c-featured-work__slide.active .c-featured-work__slide-body,
.c-featured-work__slide.active .c-featured-work__slide-cta {
  transform: translateY(0) skewY(0) !important;
  visibility: visible !important;
  opacity: 1 !important;
}
/* stylelint-enable declaration-no-important */
