@use '@styles/helpers' as *;

// Inner wrapper
.why-drupal__inner {
  position: relative;
  overflow: hidden;

  @include bp(md) {
    display: flex;
    align-items: stretch;
  }
}

.why-drupal__inner-left {
  @include container;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  @include bp(md) {
    justify-content: center;
    width: 65%;
  }

  @include bp(lg) {
    width: 100%;
  }

  @include bp(xl2) {
    flex-direction: row;
    align-items: center;
  }
}

.why-drupal__inner-right {
  width: 100%;

  @include bp(md) {
    width: 35%;
  }

  @include bp(xxl) {
    width: 500px;
  }

  @include bp(xxxl) {
    width: 500px;
  }
}

// Text content reveal
.why-drupal__text-slider .why-drupal__text-content {
  position: relative;
  width: 100%;
  overflow: hidden;

  @include bp(md) {
    &:not(.slide-active) {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      opacity: 0;
      transition: none;
      pointer-events: none;
    }
  }
}

.why-drupal__text-slider .why-drupal__text-content {
  &:not(.slide-active) > * {
    @include data-reveal(60%, 0);
    transition: none;
  }
}

// Active slide animations
.why-drupal__text-content.slide-active {
  visibility: visible;
  opacity: 1;
}

.why-drupal__text-slider .why-drupal__text-content.slide-active > * {
  @include stagger-reveal(0.2, 0.1);
  transform: translate(0) skew(0);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.65s $t-cubic-easing, visibility 0.65s $t-cubic-easing,
    transform 0.65s $t-cubic-easing;
}

// Text Slider
.why-drupal__text-slider {
  position: relative;

  @include bp(xl2) {
    flex: 1;
    height: 100%;
  }
}

.why-drupal__text-slider .swiper,
.why-drupal__text-slider .swiper-wrapper {
  @include bp(lg) {
    height: 100%;
  }
}

// Slide text content wrapper
.why-drupal__inner .why-drupal__text-content {
  @include bp(lg) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

// Slide title
.why-drupal__text-content .why-drupal__slide-title {
  margin: 0;
  color: $c-navy-blue;

  @include bp(xxxl) {
    max-width: 700px;
  }
}

// Slide Description
.why-drupal__text-content .why-drupal__slide-desc {
  @include intro-text;
  margin-top: 30px;
  margin-bottom: 0;
  color: $c-navy-blue;

  @include bp(xxxl) {
    max-width: 745px;
  }
}

// Slide callout
.why-drupal__text-content .why-drupal__slide-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;

  @include bp(md) {
    flex-direction: row;
    align-items: center;
  }
}

.why-drupal__text-content .why-drupal__slide-cta > .btn {
  &:not(:last-child) {
    margin-bottom: 30px;

    @include bp(md) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

// Image Slider
.why-drupal__image-slider {
  position: relative;
  width: 100%;
  height: 350px;

  @include bp(sm2) {
    height: 500px;
  }

  @include bp(md) {
    height: 80vh;
  }

  @include bp(lg) {
    height: 100vh;
  }

  .swiper {
    height: 100%;
  }
}

// Slide Image
.why-drupal__image-slider .why-drupal__image-content {
  position: relative;
  overflow: hidden;
}

.why-drupal__image-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &::before {
    position: absolute;
    bottom: 0;
    z-index: 9;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba($c-black, 0.3), rgba($c-black, 0));
    content: '';
  }
}

.why-drupal__image-content figure {
  height: 100%;
  margin: 0;
}

.why-drupal__image-content .field {
  height: 100%;
}

.why-drupal__image-content figure .field__item {
  display: flex;
  height: 100%;
}

.why-drupal__image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.why-drupal__image-content .why-drupal__image-case-study {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 9;

  @include bp(xxxl) {
    bottom: 112px;
    left: 112px;
  }

  a {
    color: $c-white;
  }
}

// Slider control bullets wrapper
.why-drupal__inner .why-drupal__bullets {
  z-index: 9;
  display: flex;
  margin: 50px 0;

  @include bp(md) {
    margin: 50px 0 0;
  }

  @include bp(xl2) {
    flex-basis: 30%;
    flex-direction: column;
    margin: 0;
  }
}

// Slider control bullet
.why-drupal__bullet {
  position: relative;
  display: flex;
  align-items: center;
  width: 10px;
  max-width: 250px;
  height: 10px;
  padding: 0;
  color: $c-navy-blue;
  font-weight: $font-weight-medium;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-align: start;
  text-transform: uppercase;
  background: none;
  border: 0;
  border-style: none;
  cursor: pointer;
  appearance: none;

  @include bp(xl2) {
    width: auto;
    height: auto;

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }

  &:not(:last-child) {
    margin-right: 25px;
  }
}

// Slider control bullet text
.why-drupal__bullet span {
  display: none;

  @include bp(xl2) {
    display: block;
  }
}

// Slider control bullet pseudo element
.why-drupal__bullet::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: $c-navy-blue;
  border-radius: 50%;
  content: '';

  @include bp(lg) {
    display: none;
  }

  @include bp(xl2) {
    left: -25px;
    width: 10px;
    height: 10px;
    background: none;
    border: 1px solid $c-navy-blue;
    opacity: 1;
  }
}

.why-drupal__bullet.control-active::before {
  display: block;
  background: transparent;
  border: 1px solid $c-navy-blue;
  transform: scale(1.8);
  opacity: 1;

  @include bp(xl2) {
    background: none;
    transform: scale(1);
  }
}
