{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
      {% if menu_level == 0 %}
        {# Menu Inner closing tag below menu footer #}
        <div class="menu__inner">
          <header class="menu__header-m">
            <div class="menu__search-icon">
              <div class="menu__search-circle"></div>
              <div class="menu__search-sticks"></div>
            </div>
            <div class="menu__close-icon"></div>
          </header>
          <ul{{ attributes }}>
      {% else %}
        <ul>
      {% endif %}
      {% for item in items %}
          {% set menu_item_classes = [
            'menu-item',
            'menu-level--' ~ menu_level,
            item.is_expanded ? 'menu-item--expanded',
            item.is_collapsed ? 'menu-item--collapsed',
            item.in_active_trail ? 'menu-item--active-trail',
            'menu-label--' ~ item.title|clean_class,

          ] %}
        <li{{ item.attributes.addClass(menu_item_classes) }}>
          {{ link(item.title, item.url) }}
          {% if item.below %}
            <button class="menu-item__caret">
              {{ source('/' ~ directory ~ '/assets/icons/caret-right.svg', ignore_missing = true) }}
            </button>
            <div class="menu-item__dropdown">
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            </div>
          {% endif %}
        </li>
        {% if item.below %}
          <div class="{{ 'menu-mobile-dropdown menu-label--' ~ item.title|clean_class }}">
            <button class="menu-item__mobile">
              {{ source('/' ~ directory ~ '/assets/icons/caret-right.svg', ignore_missing = true) }}
              <span>{{ item.title }}</span>
            </button>
            <div class="menu-item__dropdown">
              {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
      </ul>
      {% if menu_level == 0 %}
          <footer class="menu__footer-m">
            <a href="/user" class="menu__user">
              {{ source('/' ~ directory ~ '/assets/icons/user.svg', ignore_missing = true) }}
              <span>{{ logged_in ? 'Your profile'|t : 'Login / Create Account'|t }}</span>
            </a>
            <a href="/try-drupal" class="btn btn--icon btn--primary-blue">
              <span class="btn__text">
                {{ 'Try Drupal Today'|t }}
              </span>
              <span class="btn__icon">
                {{ source('/' ~ directory ~ '/assets/icons/arrow-right.svg', ignore_missing = true) }}
              </span>
            </a>
          </footer>
        </div>
        {# Menu Inner closing tag opened above header #}
      {% endif %}
  {% endif %}
{% endmacro %}
