@use '@styles/helpers' as *;

// Callout component
.c-callout {
  @include container;
  overflow: hidden;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;

  @include bp(md) {
    text-align: center;
  }

  &--full-height {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

// Callout eyebrow
.c-callout__eyebrow {
  margin-bottom: 12px;
  color: $c-navy-blue;
}

// Callout heading
.c-callout__heading {
  margin-bottom: 30px;
  color: $c-navy-blue;

  @include bp(md) {
    max-width: 75%;
    margin: 0 auto 40px;
  }

  @include bp(lg) {
    max-width: 1250px;
  }
}

// Callout body
.c-callout__body {
  color: $c-navy-blue;

  @include bp(md) {
    max-width: 75%;
    margin: 0 auto;
  }

  @include bp(lg) {
    max-width: 750px;
  }
}

.c-callout__body p {
  margin: 0;
}

// Callout buttons
.c-callout__cta-group {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @include bp(sm2) {
    flex-direction: row;
    align-items: center;
  }

  @include bp(md) {
    justify-content: center;
  }
}

.c-callout__cta-group .btn {
  width: fit-content;

  &:not(:last-child) {
    margin-bottom: 30px;

    @include bp(sm2) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}
