{#
/**
 * @file
 * Theme override to display a region.
 *
 * @see template_preprocess_region()
 */
#}
{{ attach_library('drupalorg_theme/header') }}

{% set classes = [
  'site-header',
] %}
{% set content_classes = [
  'site-header__container',
] %}

{% set main_nav_items = drupal_menu('main', expand=true)['#items'] %}

{% embed '@components/header/header.twig' with {
  primary_items: main_nav_items
} %}

{% endembed %}
