{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% set classes = [
  'g-elements'
] %}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ content }}
    <div class="g-elements__background"></div>
    {# Globe Icon #}
    <div class="g-elements__globe-wrapper">
      <div class="g-elements__globe swap--dark">
        <div class="swap__inner swap--dark">
          <button class="g-elements__globe-btn" aria-label="{{ 'Open Language Selector'|t }}">
            <div class="g-elements__globe-border"></div>
            {{ source('@svgs/icon-globe-language.svg') }}
          </button>
        </div>
      </div>
      <div class="g-elements__globe swap--light">
        <div class="swap__inner swap--light">
          <button class="g-elements__globe-btn" aria-label="{{ 'Open Language Selector'|t }}">
            <div class="g-elements__globe-border"></div>
            {{ source('@svgs/icon-globe-language.svg') }}
          </button>
        </div>
      </div>
    </div>
    {# Cursor #}
    <div class="g-elements__cursor">
      <div class="g-elements__cursor-dot">
        <div class="g-elements__cursor-icon arrow">
          {{ source('@svgs/icon-diagonal-arrow.svg') }}
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div{{ attributes.addClass(classes) }}>
    {{ content }}
    <div class="g-elements__background"></div>
  </div>
{% endif %}
