@use '@styles/helpers' as *;

.node-layout-builder-form {
  padding: 10px;
  background: $c-pale-blue;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 6px;
}

.node-layout-builder-form .form-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding: 10px 0;
}
